[2016-08-09 16:00] jaguililla opened #1 "Remove templates `global.yaml` in favor of settings"

[2016-08-26 11:20] jaguililla opened #2 "Add mini static site generator (JBake like)"

[2016-08-26 11:20] jaguililla opened #3 "Image processing (for site generator)"
- https://github.com/rkalla/imgscalr
- http://www.htmlgoodies.com/beyond/java/create-high-quality-thumbnails-using-the-imgscalr-library.html
- https://github.com/jfree/jfreesvg

[2016-08-27 11:10] jaguililla opened #4 "Add MIME Type support"
Use Java Activation Framework. This could be implemented by moving and refactoring Undertow implementation.

Move current `Undertow` implementation (using `JAF`) in `UndertowResponse.getMimeType()` to Core to be used by other Server Engines if they do not provide one.

[2016-08-28 16:02] jaguililla opened #5 "Port Gradle scripts to Kotlin"

[2016-08-30 09:37] jaguililla opened #6 "Language selection in templates"

[2016-09-01 14:34] jaguililla opened #7 "Add `patch` operation to repositories"

[2016-09-05 13:46] jaguililla opened #8 "Move Repository map/unmap of classes to MongoDB Java Driver codec"

[2016-12-28 10:51] #1 closed

[2016-12-28 10:52] jaguililla commented on #3
The scope is in a different project (static site generator)

[2016-12-28 10:52] #3 closed

[2016-12-28 10:52] jaguililla commented on #2
The scope is a different project

[2016-12-28 10:52] #2 closed

[2016-12-28 11:48] jaguililla opened #10 "Continuous Deployment"
Deploy to Bintray (with Travis) when a tag is created and pushed.

Handle Github pages deployment here too (and get rid of `docs` directory)

[2017-01-09 15:11] jaguililla opened #13 "Improve Servlet backend performance"
* Add a filter/servlet by each filter / route with a common prefix
* Process routes with same prefix inside a servlet
* Allow to enable disable features (automatic content-type, etc)
* Pass parameters to backend (buffer sizes and that kind of stuff) using key/value pairs

[2017-01-24 11:52] jaguililla opened #19 "Split in two modules (client and server)"
* Client for utilities and client http
* Server for everything else

[2017-01-24 11:52] jaguililla opened #20 "Add .path file for systemd services"
See: https://www.freedesktop.org/software/systemd/man/systemd.path.html

[2017-01-29 20:01] jaguililla opened #23 "Integrate SonarQube in PRs"
* https://github.com/integrations/sonarqube
* https://docs.sonarqube.org/display/PLUG/GitHub+Plugin
* https://www.sonarqube.org/

[2017-04-25 10:03] jaguililla commented on #23
Sonar doesn't support Kotlin right now

[2017-04-25 10:03] #23 closed

[2017-05-01 20:37] jaguililla opened #26 "JMH Tests"

[2017-05-01 21:12] jaguililla opened #27 "Add metrics support"
http://metrics.dropwizard.io/3.2.2/

[2017-05-01 21:17] jaguililla opened #28 "Add test server backend"
Add "Test" server implementation for tests without real networking.

This server will be an implementation of `ServerEngine` with an extra method: `send(request: Request): Response` that executes the callback and return the result without network involvement.

While developing this server some unspecified cases (route handlers order, etc.) can arise. In that case, please leave a comment to add a t

[2017-05-03 11:57] jaguililla opened #29 "Modularize source"
Modules:

* core: only dependencies will be: slf4j, cronutils and jackson. Includes all functionality, but without engines
* test: test utilities and backends
* events_rabbitmq
* store_mongodb
* serialization_messagepack (to be developed)
* settings_events (to be developed)
* template_pebble
* template_kotlinxhtml
* server_servlet
* server_jetty
* server_undertow (to be developed)
* client_okhttp

[2017-05-05 10:44] jaguililla opened #30 "Add SSL support"
* Add keystore helper methods (from Sabina/bali)
* Support mutual TLS

Check:

* https://www.naschenweng.info/2018/02/01/java-mutual-ssl-authentication-2-way-ssl-authentication
* https://blog.behrang.org/2019/01/30/ssl-mutual-authentication-java.html
* https://github.com/Hakky54/mutual-tls
* https://coolaj86.com/articles/create-your-own-certificate-authority-for-testing
* https://stackoverflow.com

[2017-05-05 10:45] jaguililla opened #31 "Implement Authentication and Authorization"
Auth https://shiro.apache.org/java-authentication-guide.html
Subject: uid (can be a system, not a person)
Credential: pass, public Key
Principal: personal data name, nick, birthday
Role:
Permission: action:type:id
User: physical human user

A component will have its credentials (as a user) to login in services
it will have a subject (its project name)

Check:
* https://www.pac4j.org
* https://deve

[2017-05-10 09:40] jaguililla opened #33 "Create HTTP call record callback"
Create callback to store requests/responses (calls), this callback can be used on the HTTP client and the server. The calls list should be available from the callback instance.

Callbacks already developed in the `http/http_server` module (on the `com/hexagonkt/http/server/callbacks` package) can be used as reference for development and testing of such components.

The callback should be added to

[2017-05-10 09:40] jaguililla opened #34 "Add compression support"
Implement compression support in `port_http_server` and `port_http_client`.

The goal would be to add a configuration parameter in the `(Server|Client)Settings` classes and force the compression headers to be sent accordingly.

The proper encoding and sending/receiving bodies must be checked by tests in the Ports' tests suites (the test classes used to validate adapters modules).

As a reference,

[2017-05-10 09:41] jaguililla opened #35 "WebSockets support"
When completed, create an example project like this one: http://sparkjava.com/tutorials/websocket-chat to show the feature.

Check Javalin implementation: https://javalin.io/documentation#websockets

This task is composed of two big areas:

## 1. Define the DSL to handle Websockets
The DSL will implement methods to add routes of WS type inside the router. I.e.:

[code]

All callbacks will have a `

[2017-05-16 13:19] jaguililla commented on #19
Already taken care on #29

[2017-05-16 13:19] #19 closed

[2017-05-29 19:43] jaguililla commented on #29
Code modularized, not all modules are created yet

[2017-05-29 19:43] #29 closed

[2017-05-29 19:45] jaguililla opened #37 "Create Undertow server engine"

[2017-05-29 21:01] jaguililla commented on #37
Duplicated

[2017-05-29 21:16] jaguililla opened #38 "New project Web site design"
Use Google's [Material Desing Lite](https://getmdl.io/index.html). The scope is only the design, Web site sources are in the `hexagon_site` module. A generated site to change the style can be found in `hexagon_site/new_site` in the `feature/hexagon-38_documentation_web` branch.

Check the following links for themes and structure:

* https://getmdl.io/index.html
* http://beautifulopen.com
* http://

[2017-05-29 21:38] jaguililla opened #39 "Implement router mounting"

[2017-06-18 15:38] brandonlamb opened #40 "Mongo and rabbitmq in core?"
More of a question, I was a little confused on why mongo and rabbitmq things would be in a core rest framework? Is that assuming too much? Seems like perhaps those should be abstracted behind something so that I dont have to pull in those dependencies since many people may not use either of those?

[2017-06-19 08:15] jaguililla commented on #40
Thanks for your thoughts @brandonlamb. The project started as a library I'm using in other projects, and it is slowly evolving into something more modular.

Please take a look at the `develop` branch, as I'm splitting the project into modules there (still a WIP).

At the end of the year I will have a 1.0 version with support for *configuration*, *template processing*, *events (MQ)*, *storage* *htt

[2017-06-19 14:56] brandonlamb commented on #40
Definitely looks interesting!

[2017-06-21 22:51] jaguililla commented on #26
Created build support. Actual tests will be created on demand.

[2017-06-21 22:51] #26 closed

[2017-06-25 00:06] #40 closed

[2017-07-04 08:36] jaguililla commented on #13
Lower priority to focus on Undertow backend

[2017-07-21 05:55] #39 closed

[2017-07-21 05:59] jaguililla commented on #20
This will be left out of scope

[2017-07-21 05:59] #20 closed

[2017-07-24 18:07] jaguililla opened #44 "Write post about Hexagon"

[2017-08-01 05:11] jaguililla opened #46 "Rename package from `co.there4.hexagon` to `com.hexagonkt`"

[2017-08-16 19:29] #37 closed

[2017-08-16 19:30] jaguililla opened #48 "Implement Undertow static file handler"
In `UndertowEngine`. The static resources handler is provisional. Code a proper one to replace this code:

[code]

[2017-08-16 19:30] #46 closed

[2017-08-16 19:32] jaguililla commented on #4
Use Java Activation Framework

[2017-08-16 19:46] jaguililla commented on #13
The focus will be library ease of use and API freeze

[2017-08-16 19:46] #13 closed

[2017-08-16 20:30] jaguililla opened #49 "Add Rocker template engine"
Implement [Rocker](https://github.com/fizzed/rocker) backend (as `com.hexagonkt.templates.pebble.PebbleEngine`).

[2017-08-16 20:31] jaguililla opened #50 "Add HTTP/2 support"

[2017-08-16 20:33] jaguililla opened #51 "Review *Settings* API"

[2017-08-16 20:33] jaguililla opened #52 "Review *HTTP client* API"

[2017-08-16 20:35] jaguililla opened #53 "Add Undertow engine to TechEmpower benchmark"

[2017-08-16 20:38] jaguililla opened #54 "Update Awesome Kotlin site links"

[2017-08-16 21:41] jaguililla commented on #38
Check the following links for themes and structure:

* https://semantic-ui.com/usage/theming.html
* https://semantic-ui.com/examples/homepage.html
* https://semantic-ui.com/examples/fixed.html
* http://beautifulopen.com/

[2017-08-16 22:44] jaguililla opened #55 "Setup Twitter account"

[2017-08-16 22:44] jaguililla opened #56 "Promote the project"
Contact libraries used by Hexagon for them to add a 'backlink' ;)

* http://microservices.io/patterns/microservice-chassis.html
* RabbitMQ
* MongoDB
* Pebble
* Jetty
* Undertow
* JBake
* Lazybones
* Rocker
* Jackson
* SLF4J

Apply to GSoC: https://developers.google.com/open-source/gsoc/resources

Advertise in: http://kotlinlang.org/community (Slack, Blog...)

Check:

* https://opensource.com/busin

[2017-08-16 23:09] jaguililla opened #57 "Github site gets broken after releases"
Check if a CNAME file is needed in the site branch

[2017-08-16 23:21] jaguililla opened #58 "Configure project's modules in Bintray"

[2017-08-19 09:22] jaguililla opened #59 "Revamp logo"

[2017-08-19 09:24] jaguililla opened #60 "Fix circular dependencies in IntelliJ"
If the project is set up using single modules for components (instead the current strategy: source folders are modules) it fails because of circular dependencies mainly because of `hexagon_test`

[2017-08-20 15:38] #59 closed

[2017-08-20 17:51] #57 closed

[2017-08-20 18:19] jaguililla commented on #54
Close whenever this: https://github.com/KotlinBy/awesome-kotlin/pull/195 is merged

[2017-08-20 18:38] #55 closed

[2017-08-20 22:55] jaguililla commented on #53
Close when #58 is resolved

[2017-08-21 00:21] #58 closed

[2017-08-21 01:03] jaguililla commented on #53
Close when https://github.com/TechEmpower/FrameworkBenchmarks/pull/2940 is merged

[2017-08-21 01:09] jaguililla commented on #53
Also fix execution warnings: https://travis-ci.org/jaguililla/FrameworkBenchmarks/builds/266643890

[2017-08-27 17:30] #10 closed

[2017-08-27 17:34] #53 closed

[2017-08-27 17:34] jaguililla opened #70 "Update Github documentation"

[2017-08-27 19:30] jaguililla opened #71 "Implement the microservice chassis pattern"
When done... this is what should be added to the readme:

It also aims to implement the [Microservice Chassis Pattern] for a given platform
(being [Kubernetes] the reference platform). For this matter a range of functionalities will be
developed:

* Configuration management
* Service registering
* Health check
* Operation metrics
* Logging management
* Tracing support

[2017-08-31 16:40] #54 closed

[2017-09-01 20:36] #70 closed

[2017-09-24 21:56] jaguililla opened #77 "Use Travis secrets only for `master` builds"
Using secrets prevents PRs from forks to complete correctly. Use them only when building `master` (release). Secrets handling is done in `.travis.yml`.

[2017-09-29 16:49] jaguililla opened #78 "Add framework examples"
Implement:
* Spark examples
* Javalin examples

[2017-09-29 17:10] jaguililla opened #79 "Update project documentation"
TOC from:
* http://sparkjava.com/documentation
* https://javalin.io/documentation
* https://www.http4k.org
* http://jooby.org/doc

[2017-10-05 06:48] jitakirin commented on #77
What exactly is the problem here? I forked and created a branch ([here](https://github.com/jitakirin/hexagon/tree/test-travis-secrets)), enabled it in `.travis.yml` (in `branches` config) and it seems to build [OK](https://travis-ci.org/jitakirin/hexagon/builds/283535112).

Yes, it looks like it tries to inject the secrets but just ends up setting gobbledygook but that doesn't seem to affect the b

[2017-10-05 09:15] jitakirin commented on #49
Is this still up for grabs?

[2017-10-05 20:25] jaguililla commented on #49
Yes it is. If you want to work on this one, assign it to yourself and move it to 'working' in [the panel](https://github.com/hexagonkt/hexagon/projects/1). If you can't, please let me know!

Thanks for your interest in the project! You can ask me whatever you need :)

[2017-10-05 20:34] jaguililla commented on #77
You went right to the point! The problem only arises in a PR to `master`. But as they will be made only by me (at least in the short term) you can skip this one.

I'll close this task. Thanks for the head up!

[2017-10-05 20:39] jaguililla commented on #77
Anyway, if you think it is easy and want to solve it. Let me know and I'll reopen it.

[2017-10-07 10:05] jitakirin commented on #77
Hmm, I'm still not sure what the problem is, I looked at travis logs from previous PRs but can't see any failures. Would you mind if I submitted a PR to master just to see what happens? Not to be merged or anything, I'll close it afterwards, just wanted to see what travis does.

[2017-10-07 17:25] jitakirin commented on #49
Cool, I'll get started on this.
Unfortunately can't seem to assign it at all nor move it on the board.

[2017-10-08 10:23] jitakirin commented on #49
@jaguililla quick question, or two ;)

I added a new `TEMPLATE_ENGINE` system setting to `hexagon_benchmark` (`com.hexagonkt.Benchmark`) and I want to add it to add it to `BenchmarkTest` as well, do we want all combinations of server engine, database engine and template engine or is it enough to test it with different server engines but only e.g. postgres, etc?

Also, what are the benchmark server

[2017-10-08 21:06] jaguililla commented on #77
It is OK if you do a PR to `master` just to trigger the error, last time someone created a PR to `master` Travis build didn't start because of security complaints with keys. I cannot find the PR (I relaunched it after and it worked).

[2017-10-08 21:18] jaguililla commented on #49
It is great if you integrate the new engine into the benchmark. But as I see it, it is a whole new task.

If you want, I can create another task explaining how the benchmark works (this module is used in [this public benchmark](https://www.techempower.com/benchmarks)).

The `docker-compose.yml` file is used to start containers with given DBs and engines in order for JMeter to benchmark the framewo

[2017-10-08 22:43] jitakirin commented on #49
Ah OK, I added it to the benchmark just to have some test for it 😄 but sure if you want to create a task I'll complete it properly so it's more useful.

[2017-10-09 16:42] jaguililla opened #80 "Review *Serialization* API"

[2017-10-09 16:46] jaguililla opened #81 "Add Rocker template engine to Benchmark"

[2017-10-11 08:38] jitakirin commented on #77
So there's one thing I noticed so far, which I'm not sure if it does what you intended.  In `.travis.yml` in `install` phase you have the command `git pull origin master develop`, given that Travis checks out the branch being merged at the very start, this will essentially try to fast-forward it to `develop`.

If you're merging the `develop` branch this is a no-op, but if merging some other branch

[2017-10-11 17:28] #77 closed

[2017-10-11 17:35] #49 closed

[2017-10-11 17:35] #81 closed

[2017-10-13 15:57] #80 closed

[2017-10-14 22:00] jaguililla opened #91 "Review RabbitMQ module"
Check if connection checks are still needed (with last driver version)

[2017-10-14 22:01] jaguililla opened #92 "Fail on duplicate routes"
Forbid duplicate routes in server router

[2017-10-15 08:54] #4 closed

[2017-10-15 11:42] jaguililla opened #94 "Move common `server` and `client` classes to `com.hexagonkt.http` in `core`"

[2017-10-15 11:43] jaguililla opened #95 "Use QPID in `events_rabbitmq` to remove RabbitMQ container in `docker-compose.yml`"
Not a big deal if the other Docker dependencies stay. Discarded.

[2017-10-19 22:05] jaguililla opened #97 "Restructure Benchmark to test different configurations in a single JVM process"
Provide specific routes for some tests instead full containers.

It could be done using one container by server (Jetty, Undertow, Resin...) and each of them will have routes for every combination of DB and template engine. E.g:

http://jetty-container:5010/mongodb/pebble/fortunes
http://jetty-container:5010/mongodb/rocker/fortunes
http://jetty-container:5010/postgresql/pebble/fortunes
http://jetty

[2017-10-23 09:10] jitakirin commented on #97
OK, I made some progress, implemented tests with path parameters for DB engines, so now `Benchmark.kt` connects to all DBs and which one is used depends on first element of the path, like in your examples.

I now have a couple of questions 😃

1. do you still want to preserve the possibility of defining which engines get connected to using `DBSTORE` env variable?

2. test combinations and URLs that

[2017-10-24 08:02] jaguililla commented on #97
Sorry for the delay:

1. You can get rid of DBSTORE env variable. The less the code the better.
2. This is a bit obscure (sorry for that). The explanation is: the `hexagon_benchmark` module is the code for [Techempower Benchmarks](https://www.techempower.com/benchmarks) (TFB from now on). But with subtle differences to be able to run inside the project. `build.gradle` generates the code merged in

[2017-10-25 19:28] jitakirin commented on #97
OK, so IIUC generally these things are fairly independent: `BenchmarkTest.kt` is for unit testing, gradle `tfb` task and related things are for TFB and `docker-compose.yml` is for JMeter tests; they all rely on `Benchmark.kt` which provides the server under test but that's it. Is that correct?

If so, I have a good idea where I'm going next :)

[2017-10-26 08:06] jaguililla commented on #97
Yes, it is. But `docker-compose.yml` is also used for "unit" testing now (until I figure out how to start mongodb and rabbit inside the tests).

[2017-10-26 20:42] jitakirin commented on #97
Oh, yes, the databases, that's right. Well, docker is really good for this kind of stuff as it doesn't require anything on the host and doesn't conflict with anything else on the system (like other mongos or postgreses) ;)

[2017-10-27 09:19] jitakirin commented on #97
Another quick question, currently there are no benchmarks with rocker for TFB, shall I add it to the combinations or leave it out for now?

[2017-10-28 12:48] #97 closed

[2017-10-28 17:49] #51 closed

[2017-11-12 00:20] jaguililla opened #101 "Create Maven Archetype"

[2017-11-12 00:29] jaguililla opened #102 "Change naming to use `Ports` and `Adapters`"
Rename ports from `hexagon_<name>` to `port_<name>`. Keeping `hexagon_` prefix for "internal" modules (infrastructure and implementation modules).

[2017-11-20 19:55] #38 closed

[2017-11-22 21:19] #102 closed

[2017-11-25 16:23] jaguililla opened #108 "Move site deployment to Travis script"
https://docs.travis-ci.com/user/deployment/pages
and
https://docs.travis-ci.com/user/deployment
or
https://gist.github.com/cobyism/4730490

After this, remove unnecessary build logic

[2017-11-25 19:12] jaguililla opened #109 "Add project templates"
Code the quick start sample in an empty VM to check it is OK

Create starter Git repositories from the quick start (in Gradle and Maven) (based on Lazybones template)

Add option to clone sample repositories it in the readme Quick Start section

Atomist project template

Web to download starters (like the Spring initializr page)

[2017-11-27 21:32] jaguililla opened #110 "body/response parsing/serializing based on content type"
Add auto parsing/serializing of body/response based on a type
  Ie: Add get<Request, Response>("/path") {} (for all methods)

[2017-11-27 21:34] jaguililla opened #111 "Review *HTTP server* API"
Rename to `port_http_server`.

Add `Exchange.body/headers/params` as Sinatra. Ie: headers["Date"] = date
Streaming support if returning a stream

[2017-11-27 22:41] #44 closed

[2017-11-27 22:49] #108 closed

[2017-12-02 10:57] jaguililla opened #113 "Handle CORS"
Check MDN docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

And Express JS docs/tests:
* https://expressjs.com/en/resources/middleware/cors.html
* https://github.com/expressjs/cors/blob/master/test/test.js
* https://humanwhocodes.com/blog/2010/05/25/cross-domain-ajax-with-cross-origin-resource-sharing
* https://www.html5rocks.com/en/tutorials/cors

After finishing, code an example like

[2017-12-07 21:58] #60 closed

[2017-12-07 22:00] #95 closed

[2017-12-15 18:55] jaguililla commented on #5
Won't be done until Kotlin DSL reaches 1.0

[2017-12-15 18:55] #5 closed

[2017-12-16 11:29] jaguililla commented on #71
Too broad, each item will be done when needed

[2017-12-16 11:29] #71 closed

[2017-12-16 19:07] jaguililla commented on #28
As the embedded servers are fast to start, this won't be done in the near future.

[2017-12-16 19:07] #28 closed

[2017-12-24 10:45] jaguililla opened #120 "Add asynchronous support"
Async callbacks for non blocking I/O using Kotlin's coroutines

[2017-12-24 10:46] jaguililla opened #121 "Binary serialization formats"
Support binary serialization formats like CBOR, Avro or Messagepack

[2018-08-18 10:05] jaguililla commented on #48
The Undertow adapter has been discontinued

[2018-08-18 10:05] #48 closed

[2018-08-18 20:31] jaguililla commented on #101
Won't be implemented right now. The only way to create a service would be using Lazybones or cloning a template.

There would be a template creation tool for both Gradle and Maven in the future.

[2018-08-18 20:31] #101 closed

[2018-11-16 20:45] #109 closed

[2018-12-03 22:43] #94 closed

[2018-12-06 13:06] jaguililla opened #142 "Add more Lazybones templates"
* Multi module project root
* Multi module module
* Service (already done)
* Site (for service or multi project module)

[2018-12-07 13:20] jaguililla opened #143 "Refactor Settings package"
* Allow create a Settings instance with any SettingSources
* object SettingsManager : Settings(listOf(source1, ...))
* Remove env vars and system properties settings sources and override loaded settings with env vars at the end if they exist with the same name (prefixes won't be necessary)
* Allow defaults loading from map or data class instead resource to speed up start up
* Move settings map fun

[2018-12-17 23:39] jaguililla opened #144 "Add LoggerManager Helpers"
With methods to enable/disable loggers and a default configuration to avoid parsing XML (slow startups).

Support different logging adapters (Log4j 2, Logback, JUL). Check: http://www.slf4j.org/legacy.html in different modules. I.e.: `hexagon_logback`, `hexagon_jul`, `hexagon_log4j2` implementing the above features.

Final options would be:

1. Use JUL bridge
2. Use Logback
3. Use Log4j2

Explain

[2019-01-07 21:00] jaguililla opened #150 "Port documentation to Bootstrap 4"

[2019-01-07 21:00] jaguililla opened #151 "Add search box to documentation"
Allow search inside the static site. Check:

* http://www.tipue.com
* https://www.algolia.com

[2019-01-25 22:07] jaguililla opened #155 "Create hexagon_test module"
Test utilities like BDD DSL that checks requirements in external sources.

Add HTTP helper which keep track of last response.

[2019-02-10 22:02] jaguililla opened #158 "Implement `MultiMap` to ease HTTP server header usage"

[2019-02-10 22:18] #111 closed

[2019-02-11 18:37] jaguililla opened #160 "Comply with the Kotlin Coding Standards"
* Remove common parent directories in source structure (once tools support this fully). Codecov doesn't support it (try with Sonarqube)

Check:

* https://kotlinlang.org/docs/reference/coding-conventions.html
* https://kotlinlang.org/docs/reference/code-style-migration-guide.html

Gradle support with: `kotlin.code.style=official` in `gradle.properties`

[2019-02-11 20:32] jaguililla opened #161 "Fix Codecov coverage"
There are some modules which coverage is not presented (however, in the Jacoco report they are covered)

[2019-02-16 11:24] jaguililla opened #164 "Improve project site style"
Style ideas from:

* http://docs.vespa.ai/documentation
* http://denalijs.org/latest/guides/overview/quickstart
* https://arrow-kt.io

Fix bootstrap toc scroll spy issue (highlight item before it should) because of :before css trick to show links below navbar

For the documentation pages template, check the following Bootstrap sample layout: https://startbootstrap.com/templates/simple-sidebar

[2019-02-16 11:32] jaguililla opened #165 "Implement Real World demo"
https://github.com/gothinkster/realworld

https://github.com/gothinkster/realworld/issues/357

https://gitter.im/realworld-dev/main

[2019-02-16 11:33] jaguililla opened #166 "Code Todo-Backend example"
This could be a perfect task to start working on the project. If you would like to get involved or just play with a different toolkit for HTTP services, keep reading!

To get familiar with the project and set things up, you should read the [contributing](https://github.com/hexagonkt/hexagon/blob/master/contributing.md) document first. If something is not clear or doesn't work right, don't worry an

[2019-02-18 07:22] jaguililla opened #167 "Implement CSRF security"
Handle Cross Site Request Forgery

[2019-02-18 20:43] jaguililla opened #168 "Use Docker and Github file conventions"
Rename the following files in project, templates and benchmark:

dockerfile -> Dockerfile

docker-compose.yaml -> docker-compose.yml

readme.md -> README.md

[2019-03-08 21:00] jaguililla opened #170 "Add Javalin tutorials"
https://javalin.io/tutorials

Add as a repository per tutorial application

[2019-03-08 21:00] jaguililla opened #171 "Add application structure example"
This could be a perfect task to start working on the project. If you would like to get involved or just play with a different toolkit for HTTP services, keep reading!

Your task will be to code an example demonstrating the structure of a simple application following this [Spark tutorial](http://sparkjava.com/tutorials/application-structure).

To get familiar with the project and set things up, you

[2019-03-16 15:48] #78 closed

[2019-03-16 15:49] #168 closed

[2019-03-16 15:51] #161 closed

[2019-03-18 09:28] jaguililla commented on #167
This would be left to applications handling

[2019-03-18 09:28] #167 closed

[2019-03-18 09:29] jaguililla commented on #160
Beware than this could break Codecov report

[2019-04-25 00:41] #164 closed

[2019-04-25 00:42] #151 closed

[2019-04-27 14:37] jaguililla opened #178 "Create a Maven parent POM"
This is an easy task to start with, it involves little coding as it is mostly scaffolding.

The purpose is to extract all common Kotlin and Hexagon configuration from [Maven Starter POM] to the [hexagon_starters](https://github.com/hexagonkt/hexagon/tree/master/hexagon_starters) module.

[Maven Starter POM]: https://github.com/hexagonkt/maven_starter/blob/master/pom.xml
[hexagon_starters]: https:/

[2019-04-27 14:37] jaguililla opened #179 "Generate a Maven archetype"

[2019-04-27 15:16] jaguililla opened #180 "Fix API documentation edit link"
Edit link doesn't lead to the file with the documentation and title is always Home.

Take this generated page as an example: https://hexagonkt.com/port_http_server/com.hexagonkt.http.server The [edit button](https://github.com/hexagonkt/hexagon/edit/master/hexagon_site/pages/port_http_server/com.hexagonkt.http.server/index.md) (the one with a pencil icon on top right position) doesn't take you to

[2019-04-28 17:58] squidfunk commented on #180
Unrelated to this issue - just wanted to say: I'm the author of [mkdocs-material](https://squidfunk.github.io/mkdocs-material/) and LOVE what you made of the hero feature in `index.md`! I didn't know you could embed HTML into front matter. Pretty awesome.

[2019-05-24 22:31] jaguililla opened #189 "Caching"
Static file cache.

Cache headers (Ie: ETag)

[2019-06-03 17:28] #56 closed

[2019-06-04 17:13] #79 closed

[2019-06-06 04:44] jaguililla opened #194 "Error accessing empty query string"
Calling `Request.queryString` on a request with empty query string fails

[code]

[2019-06-06 04:51] jaguililla commented on #180
Thanks @squidfunk ! I'm a big fan of your theme... it is outstanding :) Do you have a list of projects using it?

[2019-06-06 13:31] squidfunk commented on #180
@jaguililla thanks! Glad to hear that. There's not really a list, no, but there are actually many projects using it :-)

[2019-06-06 16:39] jaguililla opened #195 "Rename `Call.parameters` map"
Split `parameters` into `queryParameters` and `formParameters`

[2019-06-06 16:40] jaguililla opened #196 "Allow serving static files along resources"
Add `assets(Stream, path)` and make the current `assets` method call that instead

[2019-06-06 17:13] jaguililla commented on #180
If you ever make a list like "Sites done with mkdocs-material" tell me! I would like to be there :)

[2019-06-07 19:57] jaguililla commented on #194
Reported from previous version, fixed in 1.0

[2019-06-07 19:57] #194 closed

[2019-06-07 20:11] jaguililla opened #197 "Review server settings approach"
Use a ServerSettings data class to setup the server.

Also, add a context path property to avoid nesting a path

[2019-06-11 20:32] #197 closed

[2019-06-12 18:03] #195 closed

[2019-06-13 05:04] #196 closed

[2019-06-18 15:51] jaguililla opened #199 "Add microformats module"
Module with Microformats definitions in data classes. Check: http://microformats.org

[2019-07-22 17:05] jaguililla commented on #142
Consider migrating to Maven archetypes and using a Gradle plugin that support that format. Ie: https://github.com/orctom/gradle-archetype-plugin

[2019-08-04 09:23] jaguililla opened #206 "Change HTTP server filter definition and handling"
* Make routes chained
* Allow them to handle the next one with a `Call` method called `next` or `pass`
* This allows the same route to be handled several times and to optionally call the next handler or not
* Code before the `next` would be like `before` handlers now and after it woul be like `after` handlers
* This chain approach without explicit filters is implemented in Vert.x

[2019-08-20 19:57] jaguililla opened #208 "Use HashMapStorage to create a "CachedStorage""

[2019-08-20 19:57] jaguililla opened #209 "Add HashMap Store in `port_storage`"
The store port defines a minimum set of operations to store and fetch data objects from a given data store (Ie: a relational DB or a NoSQL DB).

A minimum implementation backed by a `HashMap` could be enough to start prototyping an application and later replace it by other implementation. It would also serve to created "cached stores".

As it wouldn't have any extra dependencies, it would be ok to

[2019-08-20 21:17] jaguililla opened #210 "Avoid overriding Injection binding for the sake of testing"

[2019-08-22 19:18] #170 closed

[2019-08-27 21:44] jaguililla opened #211 "Create Contact application example"
This could be a perfect task to start working on the project. If you would like to get involved or just play with a different toolkit for HTTP services, keep reading!

Your task will be to code a simple Contact Application following the very same [Spark tutorial](http://sparkjava.com/tutorials/cloud-contact-app).

To get familiar with the project and set things up, you should read the [contributin

[2019-08-27 21:44] jaguililla opened #212 "Develop Twitter clone example"
This could be a perfect task to start working on the project. If you would like to get involved or just play with a different toolkit for HTTP services, keep reading!

Your task will be to code a Twitter clone example following the very same [Spark tutorial](http://sparkjava.com/tutorials/twitter-clone).

To get familiar with the project and set things up, you should read the [contributing](https:

[2019-09-02 19:36] jaguililla opened #216 "Add `buildSrc` tests"
The `hexagon_site` module has a slightly bigger build logic that the others. This logic involves:

* Replacing variables in Markdown pages
* Replacing placeholders with code snippets (located in tests to be sure they work properly)
* Checking that `readme.md` code is the same that the one checked by tests.

This code is (partially) taken to `buildSrc` to code it in Kotlin instead in Groovy. Howeve

[2019-09-02 21:39] jaguililla opened #218 "Error code handler can not access error message"

[2019-09-19 22:58] #210 closed

[2019-09-19 22:58] #218 closed

[2019-09-30 21:30] jaguililla opened #222 "kts script to run a server"
This won't work until Kotlin 1.3.60 is released. Use Kscript is also an option (and it would take care of dependencies).

[2019-09-30 21:32] jaguililla opened #223 "Create a base Docker image"
Create image with common files to require only the application JAR.

To complete this task. It is necessary to:

* [ ] Create a module called `hexagon_docker`
* [ ] Do the build so it creates an empty application with all the toolkit dependencies
* [ ] Create a Dockerfile that packages all JARs (dependencies) and scripts that can be reused in other applications
* [ ] Build the image in the build p

[2019-09-30 21:32] jaguililla opened #224 "Port Gradle build scripts to Kotlin"
Build logic is written in Groovy (all `*.gradle` files).

The goal of this task is to port those build scripts to Gradle kotlin DSL (`*.gradle.kts`).

This task can be completed with different PRs (one by each `.gradle` file migrated).

EDIT: The missing scripts right now are:

* Helper scripts located inside `gradle` directory. These ones should be ported in a `kts` folder before deleting the Gro

[2019-10-01 09:06] DennisHartrampf commented on #166
I'd like to give this one a try! Happy #hacktoberfest :)

[2019-10-01 14:18] DennisHartrampf commented on #166
Hi @jaguililla,

I'm having difficulties getting the application running on Heroku, because the embedded Jetty server binds to the default port 2010 instead of the port Heroku wants it to bind to. The port Heroku wants the server to use is stored in an environment variable `PORT`.

According to https://hexagonkt.com/hexagon_core/#settings I tried putting the port into

1. An environment variable `

[2019-10-01 16:26] jaguililla commented on #166
Sorry to reply this late @DennisHartrampf

First, thanks for taking the time to check this project and contribute :)

I'm sorry to say that @JohanneA claimed this issue before and I didn't update it in time... my fault.

However, if you want to contribute, you can also pick #211 or #212 which are other cool examples. Or maybe you two can team up to complete the issue :)

I reviewed your problem, a

[2019-10-01 16:32] JohanneA commented on #166
Sorry, I didn't realize you had picked this one up too @DennisHartrampf, let me know if you want to work together 😊

[2019-10-01 16:46] jaguililla opened #226 "Data classes serialization Date problem"
The data classes conversion to maps is handled by Jackson.

If you convert an instance to a map, date fields are serialized to formatted strings (this calls problems in other places like stores).

The solution would be to implement this functionality with Kotlin reflection.

[2019-10-01 20:13] augustohdias commented on #212
I'd like to take this! #hacktoberfest

[2019-10-01 20:35] Fantast commented on #211
I'd like to work on this as part of #hacktoberfest

[2019-10-02 05:42] jaguililla commented on #211
Thanks! Just let me know if you need anything

[2019-10-02 05:46] jaguililla commented on #212
I just assigned the task to you. Just let me know if you need anything!

[2019-10-02 09:02] DennisHartrampf commented on #166
Ah, that's a pity, because I'm already halfway done with the task.
Thanks for the offer to collaborate on this one @JohanneA. But I don't see how this would work for this issue, because it is rather small.
I think I will finish it nonetheless, just for the fun of it. And if it is fine for you @jaguililla create a PR on @TodoBackend when I'm done. And afterwards I might take a look at #212 ;)

@jag

[2019-10-02 16:42] Fantast commented on #211
@jaguililla Can you create an initial commit in that repo? Otherwise, I can't create a fork on an empty repository...

[2019-10-02 17:30] jaguililla commented on #211
Sorry, I din't knew. Done!

[2019-10-02 17:32] jaguililla commented on #166
Great, thank you both!

[2019-10-02 18:44] nicolaic commented on #180
This issue appears to have already been fixed. Just commenting so it can be closed. :)

[2019-10-03 19:44] jaguililla commented on #180
Unfortunately, it is not fixed... it is a challenging one. I just updated the description to give more details, so if you feel like you can do it... go ahead ;)

[2019-10-05 06:04] 0001vrn commented on #216
Hi @jaguililla
I want to contribute to this issue. I am getting started. Let's connect for this so that we both can have a clear understanding of what should be the outcome of this issue when resolved.
Thanks
Varun

[2019-10-05 13:14] kr9s8n1 commented on #171
@jaguililla I'd like to contribute to Hexagon and would like to take this up as my first issue.

[2019-10-06 10:05] jaguililla commented on #171
You are very welcome! thanks for your support :)

[2019-10-06 19:27] jaguililla commented on #216
Hello @0001vrn Thanks for your contribution (I just checked the PR) I'm missing some corner cases (check the PR comment) but if you want, I can merge the PR and let you complete the scenarios in a different PR if you want. Thank you very much!

[2019-10-07 16:55] #166 closed

[2019-10-08 13:32] 0001vrn commented on #216
Hi @jaguililla
It is my pleasure to be able to contribute to the repo. Sure, going forward, would be discussing scenarios in the aforementioned slack channel. I am also a member of it now. Thanks to you 🙏

You're welcome! 😉

[2019-10-08 18:51] jaguililla commented on #165
Already completed, but still pending on: gothinkster/realworld#411

[2019-10-08 18:51] #165 closed

[2019-10-09 06:25] JohanneA commented on #209
I can give this one a go 😄

[2019-10-09 07:15] gitgabrio commented on #179
Hi @jaguililla
I think I could work on this!

[2019-10-09 09:15] jaguililla commented on #179
That would be great!

[2019-10-09 09:16] jaguililla commented on #209
Awesome!

[2019-10-09 16:27] 0001vrn commented on #178
Hi @jaguililla
I would like to take this up. I will be needing a little bit of help wrt docs being added in the `hexagon_site` module.

[2019-10-09 16:56] SilvioMachado commented on #224
May i work on this issue too?

[2019-10-09 17:07] jaguililla commented on #178
No worries, I'm available via Slack if you need advice

[2019-10-09 17:11] jaguililla commented on #224
Sure @SilvioMachado , just talk to @norangebit to split the build files. A good place to do this could be the Hexagon's Slack channel: https://kotlinlang.slack.com/messages/hexagon

You can request access to JetBrains (they usually grant it fast) here: http://slack.kotlinlang.org/?_ga=2.249896774.1758923605.1570641033-247235827.1559760269

[2019-10-09 17:13] jaguililla commented on #224
@norangebit Add a comment here to add you to this task's assignees list :)

[2019-10-09 17:28] #216 closed

[2019-10-09 18:43] norangebit commented on #224
Yep, I'm in.

[2019-10-09 18:45] gitgabrio commented on #179
@jaguililla
Hi. I've started working on it, and at the moment I can create a maven archetype and a project out of it (not working, yet) - launching `mvn install` command directly from the  `hexagon_service` directory.
For the moment being, I've tried to keep the structure untouched as much as possible; so, for example, I've used the copy-resources plugin to copy files from current position (`hexag

[2019-10-10 18:43] jaguililla commented on #179
Have you committed your code in a branch of your fork? If so, hand me the link and I will take a look.

We can discuss details on the Kotlin Slack Team, you can request access here: http://slack.kotlinlang.org/?_ga=2.3108208.1124590128.1570732678-253985101.1570732678 (usually access is granted quickly).

You can join the `#hexagon` channel and look for me. My user is `jaguililla`.

Thanks for cont

[2019-10-10 20:38] gitgabrio commented on #179
Hi @jaguililla

here's the branch. It is very WIP, generated archetype is not correct; anyway, it is the direction I've taken to start.

https://github.com/gitgabrio/hexagon/tree/HEX_179

[2019-10-14 03:42] aljacinto commented on #180
@jaguililla I generated and serve this locally.  I noticed that some links are working and some don't.  But the ones that are not working are not in github, not in hexagon_site module anyway.  They are moved and renamed from their project to hexagon_site.

Is the solution to pass the edit URLs for each page and change the link?

[2019-10-14 09:35] jaguililla commented on #180
The missing pages are the ones generated by Dokka (it generates more than one page for a single file). It would be great to link the Kotlin source that generated a given Markdown page.

I don't know if Dokka currently provides this functionality :/

[2019-10-14 16:07] pavi2410 commented on #224
I would also like to take this up.

[2019-10-16 00:30] aljacinto commented on #171
@jaguililla I'll try this one

[2019-10-16 03:55] aljacinto commented on #180
@jaguililla I think we can make this work, here are the steps

1. Use [metadata extension](https://squidfunk.github.io/mkdocs-material/extensions/metadata/#__source) of material mkdocs by modifying mkdocs.yml
2. Include metadata in md files through gradle or dokka like you mentioned above.  Example:

[code]
3. Override content template block in ```hexagon_site/mkdocs/main.html``` to use our meta.e

[2019-10-16 14:13] jaguililla commented on #171
Great @aljacinto ! I'll assign it to you

[2019-10-18 02:52] aljacinto commented on #180
@jaguililla any feedback on the above solution?  Thanks

[2019-10-18 08:42] jaguililla commented on #180
Sorry @aljacinto I just forgot :( I'll look into it this weekend (today or tomorrow tops)

[2019-10-18 08:43] jaguililla commented on #180
Looks good to me... The difficulty I see is how to include the data inside the .md (generated by Dokka)

[2019-10-18 18:51] pavi2410 commented on #224
I am working on improving https://github.com/bernaferrari/GradleKotlinConverter so that most of the `build.gradle` files can be converted to `build.gradle.kts` without much additional changes. So, please bear with me for a few days :)

[2019-10-19 05:11] EvertonSA commented on #223
i would like to take this task

[2019-10-19 13:04] sa160690 commented on #199
Hi @jaguililla, can you please elaborate more on this requirement?

[2019-10-20 17:02] jaguililla commented on #199
Hello @sa160690 Thanks for noticing the lack of proper information... I just update the task's description, if you would like to take it, that would be much appreciated :) Thanks again!

[2019-10-21 11:53] sa160690 commented on #199
Hi @jaguililla, I will be happy to take up this issue. Can you please assign this to me? Thanks

[2019-10-21 15:08] jaguililla commented on #199
Done!

[2019-10-22 04:01] aljacinto commented on #180
I don't see anything in dokka for that, you would think they'll have something for metadata but nothing.

[2019-10-22 19:57] #209 closed

[2019-10-23 19:17] jaguililla opened #239 "Create 'hexagon_rest' module"
Utilities to build REST services over HTTP servers.

[2019-10-23 20:52] jaguililla commented on #180
The only way that I see is to manually process the Dokka generated `.md` in the build script to add the corresponding source file. It is feasible, but tricky.

[2019-10-23 21:16] #113 closed

[2019-10-25 11:20] mihinduranasinghe commented on #178
I need a help, How should i update build.gradle ?

[2019-10-27 08:30] jaguililla commented on #178
You can take a look at the `gradle/bintray.gradle` file. There it includes source and documentation JARs to be plubished along the classes, maybe it helps you ;)

[2019-10-27 10:29] mihinduranasinghe commented on #178
Thank you very much . I will try again

Thanks & regards !

Mihindu Ranasinghe
Treasurer
IEEE Student Branch
BSc. Software Engineering | University Of Kelaniya

Mobile : +94768416637

On Sun, 27 Oct 2019, 14:00 Juanjo Aguililla, <notifications@github.com>
wrote:

[2019-10-28 09:40] sunqitao opened #242 "com.hexagonkt.helpers.logger do not work"
import com.hexagonkt.helpers.logger
 get("/text") {
            logger.error { "this is log"}
            val tt :Testlogger = Testlogger()
            tt.test()
            ok("Hello, World!", "text/plain")
 }

fun main() {
    bindObject<ServerPort>(JettyServletAdapter())
    server.start()
    logger.info { "start success"}
}

class Testlogger {
    fun test(){
        logger.debug { "this debu

[2019-10-28 09:41] sunqitao commented on #242
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} %highlight(%-5p) %magenta([%-18.18t]) %-30c{30} | %m%n</Pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPol

[2019-10-28 09:44] sunqitao commented on #242
logback.xml  file
 <root level="all">
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>

  <logger name="com.hexagonkt" level="all"/>
  <logger name="org.example" level="all"/>

[2019-10-28 19:40] jaguililla commented on #242
That seems like a configuration problem. I tried with this code:

[code]

And this logback.xml:

[code]

And I got this output:

[code]

Can you please double check and if this is still happening attach the used dependencies?

Thanks for noticing me this issue!

[2019-10-29 02:30] sunqitao commented on #242
@jaguililla
copy your code ,it doesn't work

output:
[code]

[2019-10-29 03:42] aljacinto commented on #180
Here's the answer from dokka:

None that I'm aware of right now, you can add it manually or write a script for that. You can also edit the StructuredFormatService or maybe even the FileGenerator itself, however this change will be much easier after the next release, which will introduce pluggability.

I can simply write a script that translate the output path to relative path i.e go through the ge

[2019-10-29 18:30] jaguililla commented on #242
Hello again, there was a problem because of a missing runtime library in the `maven_starter` project. I just committed [a fix](https://github.com/hexagonkt/maven_starter/commit/0fb1151df9e665d7e39ed3893938880289e175a3). Thank you for raising the problem, do not hesitate to contact me if anything else doesn't work correctly :)

[2019-10-29 18:31] jaguililla commented on #242
I'll close the issue, if it doesn't work properly, please reopen it

[2019-10-29 18:31] #242 closed

[2019-10-29 20:33] jaguililla commented on #180
Absolutely! I think it is feasible to resolve it that way, it would be harder for extension function's API (they have an extra directory with the receiver name).

But to me it is a great solution, if you want to take this task it would be great!

[2019-10-30 07:05] jaguililla commented on #180
I'll assign this to you and update the board... If you change your mind, just tell me and I will put this back on TODO... Thanks for your help, your research on the subject was pretty awesome :)

[2019-11-02 19:00] Fantast commented on #211
@jaguililla I've finally finished this. Sorry for taking so long, I wasn't able to work hard enough on this :(

[2019-11-06 07:38] aljacinto commented on #180
@jaguililla you're right that the extension are tricky and getting me trouble, for example:

this `hexagon/hexagon_site/content/hexagon_core/com.hexagonkt.helpers/java.time.-local-time/to-number.md` should map to `hexagon_core/src/main/kotlin/com/hexagonkt/helpers/Dates.kt` but there is no `Dates` in path anywhere

[2019-11-06 17:56] jaguililla commented on #211
On the contrary... thanks for your contribution, this is only done for fun, I appreciate the effort :slightly_smiling_face: . I'll update the examples page to link to your example. Thanks again!

[2019-11-06 18:03] jaguililla commented on #180
Do not force yourself to get to the perfect solution... If it works for a good amount of classes, it is worthy (as now is not working for any API documentation editing) :slightly_smiling_face: If you do a PR with a partial solution it is OK for me to review it and merge it.

However, if you go for the PR, note the limitations in a TODO to be aware that eventually it should be solved.

For me, the

[2019-11-06 18:05] #211 closed

[2019-11-07 01:16] aljacinto commented on #180
PR created, I think I covered everything except for the one above.  Let me know.

[2019-11-07 09:32] jaguililla commented on #180
Merged! Thanks! I'll check it locally, and we'll see in the next release ;)

[2019-11-07 21:57] #180 closed

[2019-11-09 14:04] kldMohammed opened #246 "running application give me not found"
i tried to build a simple rest to test out the framework

 i tried adding hexagon to gradle project and start a hello world from the doc but it give not found

i also cloned this and try to run it i got the same problem

![Screen Shot 2019-11-09 at 4 01 28 PM](https://user-images.githubusercontent.com/17613367/68529754-825e5d00-030a-11ea-8ed6-654bbf51e32d.png)
![Screen Shot 2019-11-09 at 4 01 45 P

[2019-11-11 17:32] jaguililla commented on #246
First of all, sorry for the late reply! second, thanks for giving this project a try :slightly_smiling_face:

I just tried to replay your problem running `./gradlew run` in the `gradle_starter` project (I guess this is the one you are using, right?) and it returns `Hello, World!`

The problem I see here, is that you are trying to access the root resource (`http://localhost:2010/`). However, inside

[2019-11-12 11:55] kldMohammed commented on #246
Hi ,

sorry for my mistake i tried the starter project its work but my app doesn't
i don't know why
this is the link to Github repository

https://github.com/kldMohammed/hexagon-sample
________________________________
From: Juanjo Aguililla <notifications@github.com>
Sent: Monday, November 11, 2019 8:32 PM
To: hexagonkt/hexagon <hexagon@noreply.github.com>
Cc: Khalid <kldmohammed@outlook.com>; Aut

[2019-11-12 16:11] jaguililla commented on #246
I'll look into it :)

[2019-11-12 19:33] jaguililla commented on #246
Ok, the problem was that you had defined the get handlers inside the before callback. If you define the routes outside it works. Try with this server definition:

[code]

[2019-11-12 19:35] jaguililla opened #248 "Fix Sonarqube code coverage report"
SonarQube code coverage doesn't match Codecov's one. It seems Sonar only take a module's tests to calculate coverate (not the whole project).

SonarQube results are available here:
https://sonarcloud.io/dashboard?id=hexagonkt_hexagon

[2019-11-13 18:35] #246 closed

[2019-11-18 19:00] jaguililla commented on #199
Hello, I'm just reviewing the Hacktoberfest issues still open. If you didn't finish the task, but still you want to commit what you've done. Come on, any help will be welcomed and I can finish the remaining part of the task :slightly_smiling_face:

Next week I will proceed to update this task status and assignees. Thanks!

[2019-11-18 19:01] jaguililla commented on #223
Hello, I'm just reviewing the Hacktoberfest issues still open. If you didn't finish the task, but still you want to commit what you've done. Come on, any help will be welcomed and I can finish the remaining part of the task :slightly_smiling_face:

Next week I will proceed to update this task status and assignees. Thanks!

[2019-11-18 19:01] jaguililla commented on #171
Hello, I'm just reviewing the Hacktoberfest issues still open. If you didn't finish the task, but still you want to commit what you've done. Come on, any help will be welcomed and I can finish the remaining part of the task :slightly_smiling_face:

Next week I will proceed to update this task status and assignees. Thanks!

[2019-11-18 19:02] jaguililla commented on #224
Hello, I'm just reviewing the Hacktoberfest issues still open. If you didn't finish the task, but still you want to commit what you've done. Come on, any help will be welcomed and I can finish the remaining part of the task :slightly_smiling_face:

Next week I will proceed to update this task status and assignees. Thanks!

[2019-11-18 19:02] jaguililla commented on #212
Hello, I'm just reviewing the Hacktoberfest issues still open. If you didn't finish the task, but still you want to commit what you've done. Come on, any help will be welcomed and I can finish the remaining part of the task :slightly_smiling_face:

Next week I will proceed to update this task status and assignees. Thanks!

[2019-11-18 19:05] jaguililla commented on #178
Hello, I'm just reviewing the Hacktoberfest issues still open. If you didn't finish the task, but still you want to commit what you've done. Come on, any help will be welcomed and I can finish the remaining part of the task :slightly_smiling_face:

Next week I will proceed to update this task status and assignees. Thanks!

[2019-11-18 19:19] jaguililla commented on #179
Sorry to come to you so late :disappointed: I lost this issue among all Hacktoberfest ones... After reviewing it, I think it is harder than I thought at the beginning.

So if it is ok for you, I can remove the `help wanted` tag and give it a go later. Sorry again for not being helpful in taking this task forward.

If at any time you want to pick an easier task, I will be glad to guide you through

[2019-11-18 19:22] pavi2410 commented on #224
I am quite busy with my end semester exams which wilp be over by the next
week. I think I shall be able to contribute.

On Tue, 19 Nov, 2019, 00:32 Juanjo Aguililla, <notifications@github.com>
wrote:

[2019-11-19 03:53] aljacinto commented on #171
@jaguililla I didn't get a chance to look at this one but still want to work on it.  I would still like to work on it, just need more time.  I should have something by the end of the week.  Let me know if that's ok.

[2019-11-19 08:30] gitgabrio commented on #179
Hi @jaguililla
Yes, I realized there was some unexpected issue. Anyway, in the backlog I see other tasks somehow related to maven: I may help with them, but I'm wondering if before tackling theme some sort or overall re-organization would be needed. Let me know. Bye!

[2019-11-20 19:28] jaguililla commented on #224
No problem, I just wanted to know if you would like to continue working on this... I appreciate your help, but in Open Source there's no strings attached... Good luck with your exams! :)

[2019-11-20 19:37] jaguililla commented on #171
Ok, I appreciate the effort... However, if you can not continue no worries (I understand this is just for fun :) Take the time you want

[2019-11-20 19:43] jaguililla commented on #179
I'm afraid all Maven issues are a bit tricky (as they involve publishing in Bintray with Gradle). However, if you want to pick another one #156 should be easy and rewarding (GraalVM is a very interesting topic)

[2019-12-03 07:05] jaguililla opened #252 "Move from Travis to GitHub actions"
* Check if it has all required features
* Port scripts if so to have CI more integrated

[2019-12-03 07:07] jaguililla opened #253 "Change Bintray by GitHub packages"
* Check if it is integrated with Maven Central or JCenter
* If so, deploy to GitHub packages instead

[2019-12-07 02:58] aljacinto commented on #171
@jaguililla you can take off my name, just can't find the time these days :)

[2019-12-11 21:54] jaguililla commented on #171
Ok, thanks for your contribution to the API documentation. I hope you find the time and motivation to contribute to this project again :) My pleasure!

[2019-12-14 13:47] jaguililla opened #255 "Migrate Travis to GitHub actions"
Port Travis pipeline to GitHub actions

[2020-01-16 21:26] jaguililla opened #257 "Server-Sent Events (SSE)"
https://en.wikipedia.org/wiki/Server-sent_events

[2020-01-17 06:58] #30 closed

[2020-01-17 06:59] #50 closed

[2020-01-18 20:00] jaguililla opened #259 "Add Tracing support"
**NOTE** This task is not yet fully detailed, if you claim it, I will add details on demand :)

Create adapters for:

* https://zipkin.io
* https://www.jaegertracing.io

[2020-01-18 20:03] jaguililla opened #260 "Implement Metrics support"
**NOTE** This task is not yet fully detailed, if you claim it, I will add details on demand :)

Check:

* https://opentelemetry.io
* https://metrics.dropwizard.io
* https://micrometer.io/

[2020-01-18 20:40] #27 closed

[2020-01-18 20:41] jaguililla commented on #27
Duplicated

[2020-01-31 22:24] jaguililla commented on #223
Application packages are below 20 MB Having an image with all dependencies inside doesn't bring a big improvement at the moment. Discarding this task by now

[2020-01-31 22:24] #223 closed

[2020-02-05 18:29] #248 closed

[2020-02-07 21:54] jaguililla commented on #252
Travis CI is more feature full right now

[2020-02-07 21:54] #252 closed

[2020-02-07 21:56] jaguililla commented on #253
It is harder to set up for clients, so lets stick to Bintray

[2020-02-07 21:56] #253 closed

[2020-02-08 11:26] jaguililla opened #263 "Create Vert.x server adapter"

[2020-02-08 11:26] jaguililla opened #264 "Add Freemarker template adapter"

[2020-02-08 11:26] jaguililla opened #265 "Create SQL store (using JDBI or alike)"

[2020-02-11 07:41] #222 closed

[2020-02-11 07:44] jaguililla opened #266 "Review messaging port"
Review messaging port interface to reflect all scenarios (request/response, async, pub/sub, etc.).

[2020-02-11 07:44] jaguililla opened #267 "Add Kafka messaging adapter"

[2020-02-15 20:08] jaguililla opened #269 "Make SonarQube accept hexagon_starters tests"

[2020-02-15 20:08] jaguililla opened #270 "Add Java 11 HTTP Client adapter"
Implement the `port_http_client` using the JDK11 internal HTTP client.

The Async HTTP Client adapter (`http_client_ahc`) can be checked as a reference.

The module should pass the test suite implemented in the Port (again, as a reference you can check `http_client_ahc` tests).

[2020-02-15 20:21] jaguililla opened #271 "Improve API documentation"
This task is going to be open indefinitely.

If you find some public element (class, method, field, etc.) without proper API documentation, feel free to make the PR and reference this issue. However, the issue won't be closed as stated before.

ONLY public members require documentation.

Some hints to write the comments are:
* Use the imperative form.
* Capitalize descriptions (parameters, receive

[2020-02-16 18:00] #269 closed

[2020-02-16 18:02] jaguililla opened #272 "Add more log information"
This is going to be an ongoing task.

If you find some part of the code without enough logging information, feel free to make the PR and reference this issue. However, the issue won't be closed as stated before.

Take care of the level assigned to the log statements:
* `error` some error stopped the correct processing of the request or the process.
* `warn` something failed and was ignored (it was

[2020-02-18 18:23] jaguililla opened #275 "Enforce signed dependencies in Gradle"
Gradle 6.2 allow forcing to use only signed dependencies. Do it for the same of security.

[2020-02-19 09:40] jaguililla opened #276 "Sign published packages"
Change projects build scripts to sign binary packages on publishing

[2020-02-27 13:15] #257 closed

[2020-02-27 13:17] jaguililla commented on #257
As SSE is not heavily used today (WebSockets are preferred for almost all use cases). This feature won't be implemented unless users push for it.

[2020-02-29 08:45] jaguililla opened #280 "Add XML serialization format"
As Jackson supports the XML datatype: https://github.com/FasterXML/jackson-dataformat-xml , the scope of this task would be to create a Content Format module to support it.

As a reference you can check the YAML Content format implementation in the `serialization_yaml` module.

[2020-02-29 08:47] jaguililla opened #281 "Migrate tests to JUnit 5"
Switch reasons are that currently no TestNG features are used and JUnit is more known/used.

Use Kotest also, it can greatly improve testing experience.

[2020-02-29 13:05] #208 closed

[2020-02-29 14:17] jaguililla opened #282 "Transfer JCenter artifacts to Maven Central"
Delete Bintray `jamming/maven` repository and link `hexagonkt/hexagon` to JCenter if possible.

If not, look forward Maven Central?

When this is done, delete Hexagon Maven repository from `kotlin.gradle` and rely on Maven Central or JCenter.

[2020-03-01 09:58] jaguililla opened #283 "Support different logging adapters"
Support different logging adapters (Log4j 2, Logback, JUL)

[2020-03-01 10:00] jaguililla opened #284 "Implement `real_world` front end part"
React would be the best option: https://play.kotlinlang.org/hands-on/Building%20Web%20Applications%20with%20React%20and%20Kotlin%20JS/01_Introduction

[2020-03-12 14:03] BikramjeetSingh commented on #212
Hello! I'd like to take this issue up.

[2020-03-12 17:16] jaguililla commented on #212
Sure! Thank you for your contribution :)

Do not hesitate to contact me if you need anything. You can do so in this issue's comments or by Slack.

Happy coding!

[2020-03-15 12:11] BikramjeetSingh commented on #212
@jaguililla I can't seem to be able to access the project's Slack channel. Do I need an invite?

[2020-03-15 19:35] jaguililla commented on #212
Yes, you have to request an invitation to JetBrains. You can do so [here](http://slack.kotlinlang.org/?_ga=2.49986662.1103721712.1584300803-1878487877.1578514032). They usually accept it very quickly.

[2020-03-26 22:52] #255 closed

[2020-04-08 17:03] jaguililla opened #292 "Upgrade MkDocs Material"
Upgrade to MkDocs Material 5. To do so, you can check the theme's documentation: https://squidfunk.github.io/mkdocs-material/upgrading/

We can take advantage of the new version to add Dev.to link as blog/news using this icon: https://fontawesome.com/icons/dev?style=brands

Use also a Web app manifest and service worker may be another improvement.

[2020-04-17 17:06] donky106 commented on #275
Hi, I would like to work on this issue

[2020-04-18 11:43] jaguililla commented on #275
Thank you for contributing! I just assigned it to you and move to the 'Working' column, if you need any help, do not hesitate to ask :)

If you check the site you'll find the project Slack Channel (it requires JetBrains request to join, but they do that really fast). You can contact me there or comment this issue. However, Slack would be faster.

[2020-04-20 03:33] donky106 commented on #275
Hi,

first I created a config file verification-metadata.xml

1) The hash values were missing for 55 artifacts. The Gradle message was "Checksums are missing from verification metadata".

So I run Gradle to create the SHA-512 hash value, i.e. checksums

./gradlew -x test --write-verification-metadata sha512 help

The checksums are in the config file now

<artifact name="backport-util-concurrent-3.

[2020-04-20 16:04] donky106 commented on #275
many artifacts have no hash values provided. For these ones Gradle generates the hashes for the first use

[2020-04-23 16:55] jaguililla commented on #275
Hi, sorry for the late reply, and thank you for your great work and explanation!

I think that you can commit those settings as you have them. Further improvements can be done later if required.

So, if you want, you can file a PR and we can discuss the changes there. Thanks!

[2020-04-26 12:17] #275 closed

[2020-04-26 17:06] #178 closed

[2020-04-28 19:11] aneeshdua commented on #212
@jaguililla can I work on this?

[2020-04-29 06:24] jaguililla commented on #212
Glad to ear that @aneeshdua ! However @BikramjeetSingh is already working on this example project.

You can contact him to share the development, or you can pick the #171 which is also a nice example to develop :)

[2020-04-30 20:35] donky106 commented on #91
Hi, I would like to work on this issue

[2020-05-01 11:57] jaguililla commented on #91
Ok, I will assign it to you.

The bottom line is that a lot of the code added to check connection errors and assure messages are handled and acknowledged is old (coming from Java 5+ years ago).

It would be great if it could be reduced (removing not needed code) by taking advantage of the latest AMQP Java Client (if possible).

This issue is a bit vague, sorry about that :( If you want to do a sim

[2020-05-01 17:05] donky106 commented on #91
Thanks for assigning, I appreciate it very much. I will keep you updated

[2020-05-14 16:33] #212 closed

[2020-05-15 17:10] donky106 commented on #91
Hi Juanjo,

1) What I noticed you open a new channel for each message and that is what they don't want. Channels supposed to be long-lived.

"A classic anti-pattern to be avoided is opening a channel for each published message. Channels are supposed to be reasonably long-lived and opening a new one is a network round-trip which makes this pattern extremely inefficient. Just like connections, chann

[2020-05-15 17:45] jaguililla commented on #91
Thanks for digging in the documentation and exposing those flaws, it is a valuable information.

I encourage you to make a PR with the improvements you made, and if you feel it could be further improved and want to give it a go, it would be great!

I really appreciate the time you took to improve this feature, thanks again!

[2020-05-15 18:16] BikramjeetSingh commented on #264
Hi, I'd like to pick this up as my next task.

[2020-05-16 10:23] jaguililla commented on #264
Great! I've just assigned it to you... If you need anything, just let me know :)

[2020-05-16 18:32] jaguililla commented on #91
I've merged your PR. Thanks! let me know if you want to make further improvements to the module :)

[2020-05-16 18:37] donky106 commented on #91
Thanks! Working on improvements. Want to build in some metrics too. Will keep you updated.

[2020-05-20 06:12] jaguililla commented on #282
Will be published in Maven Central directly

[2020-05-23 09:49] #264 closed

[2020-05-24 19:04] #160 closed

[2020-05-26 16:35] BikramjeetSingh commented on #265
I would like to pick this up as my next task.

[2020-05-26 20:02] jaguililla commented on #265
Wow... this is a tough one. Think you have to translate a document model into a relational model. You will have to:

* Take aside each object nested on the type you want to store
* Create the FKs and PKs
* Take care of collections (lists, maps...)
* Handle the creation of the DDL (if it doesn't exist)
* Create indexes to efficiently join tables belonging to the store domain
* Query based on nested

[2020-05-29 18:18] BikramjeetSingh commented on #265
Well, I didn't expect it to be that complex at first, but I guess you're right. I'd like to give it an attempt, nevertheless.

I'll take some time to brush up on the required concepts first. I'll leave another comment when I'm ready (hopefully in a few weeks) and then you can assign it to me. And yes, I'll discuss my plan with you before I start coding it.

[2020-05-30 09:52] #281 closed

[2020-05-30 17:07] #158 closed

[2020-06-08 21:55] #91 closed

[2020-06-09 18:17] jaguililla commented on #224
All project's build scripts have been ported except the `gradle/*.gradle` helpers used in other projects.

They won't be ported as the way to go is precompiled plugins: https://docs.gradle.org/current/userguide/custom_plugins.html#sec:precompiled_plugins

Eventually they could be ported to precompiled plugins, but they'll need to be published.

[2020-06-09 18:17] #224 closed

[2020-06-14 18:22] #276 closed

[2020-06-14 18:22] #282 closed

[2020-06-24 19:13] jaguililla commented on #171
This tutorial is very similar to other ones, it can be skipped.

[2020-06-24 19:13] #171 closed

[2020-06-24 19:24] jaguililla opened #310 "Review Templates Port"
* Make the necessary changes to support streams. Allow templates to be loaded from any input stream (not only resources).
* Allow to use it standalone (for CLI or GUI applications). This should be done by making the data loading (from resources) optional.
* Make proper documentation and link it in the main site section: Explain how to register one or more template engines and how to render templat

[2020-06-24 19:43] jaguililla opened #311 "Parse query and form parameters into type"
Create a method to parse all received parameters (forms, query, path) inside a class with the desired types, structure and checks.

The method would be something like: `fun <T: Any> Request.allParameters(type: KClass<T>): T` this method will:
1. gather all request's parameters (form, path and query ones)
2. put them in a map (taking care of the parameters that have a list of values)
3. convert the

[2020-07-02 18:24] jaguililla opened #312 "Build mock servers from OpenAPI specs for testing"
The purpose of this task is to create a function that returns a `Server` from the information of an [OpenAPI YAML spec](https://swagger.io/specification).

The YAML input should be a URL to let the user choose the specs source (it could be a web address, a local file or a classpath resource).

The server will take all its data from the spec (I.e.: base path), and the request and response of the ro

[2020-07-06 13:23] BikramjeetSingh commented on #312
I would like to give this task a try.

[2020-07-08 14:02] jaguililla commented on #312
Assigned... Thank you!

[2020-07-20 20:15] BikramjeetSingh commented on #312
Hi, so the approach I thought of taking is as follows:

I'll make use of the [swagger-parser](https://github.com/swagger-api/swagger-parser) library to parse the spec file. I'll create a nested mapping where the key will be a particular route and the value will be _another_ map, whose key will be an HTTP method (GET, POST, PUT, etc) and value will be the mock response. Basically, it will look like

[2020-07-21 18:35] jaguililla commented on #312
Hi! I'm replying over your message.

Ok, though this approach is valid, you could also do it by parsing the Swagger spec and getting something like (in pseudocode):

[code]

Then you could do something like:

[code]

And finally mount that router inside a server. You could put that code into a method i.e.: `createRouter(URL)` and mount many specs into one server, or map each of them to its own ser

[2020-07-24 16:05] maiph opened #318 "Routing handling with filters"
Hello there 😃
Found it while looking for open source projects to contribute to and this is something I was interested in and that I could learn from.

I would like to know what was the design decision on the request routing implementation.
It seems like you register a `ServletFilter` to the `ServletContextHandler` and call the route callback inside the `doFilter`.
https://github.com/hexagonkt/hexa

[2020-07-26 16:03] BikramjeetSingh commented on #312
Hi,

Actually, I think your approach of iterating over the Swagger routes is better. Thanks for the suggestions. I checked, and the Swagger parser does return information in a suitable format, so this approach should work fine.

You're right, that makes sense. I didn't think of that. Although I think with the new approach of creating the Router that you suggested, this problem solves itself. So we

[2020-07-27 19:02] jaguililla commented on #312
Thanks to you! just ask me anything you want... I'll be glad to help!

[2020-07-27 21:15] maiph commented on #318
Later I saw that the servlet path definition is not very flexible and understand a bit more about it.

Also took a look at the docs from Jetty and saw that they don't event recommend using servlets if we can't take any advantage from them as they will only bring an unnecessary overhead. What they recommend is that the request handling is all done with Handlers. The idea I got from that would be to

[2020-07-28 17:21] jaguililla commented on #318
You are right, using Jetty at a lower level improves the performance over using Servlets.

The reason behind this decision is to take advantage of the Servlet implementation made for Web applications (WAR files) to cut development time.

In the future, the best option would be to provide another Adapter using Jetty "low" level library (or other Adapter for, let's say undertow.io). And take advanta

[2020-08-01 14:27] maiph commented on #283
Is the idea here to only use SLF4J for logging inside the lib and let the users decide which implementation to use?

[2020-08-02 10:59] jaguililla commented on #283
The idea would be to keep SLF4J, that is supported by all meaningful logging frameworks (basicly Logback and Log4j2).

It also allows to reroute other libraries (JUL and commons-log) logs to it making it a proper option to handle no only the application logs, but also the logs used by any third party library.

Would you be interested it picking it up? 😉

[2020-08-02 11:58] maiph commented on #283
I can give it a shot, just a few questions.

1. Why add any bridge to sfl4j dependency? Shouldn't that be a user decision ?
2. I'm not sure what you mean by this. Isn't the intent to remove the dependencies on other logging frameworks than slf4j ?

[2020-08-02 21:38] jaguililla commented on #283
Good, I think it is OK to remove the dependencies and if later they are useful we can add them.

[2020-08-05 18:08] jaguililla commented on #283
I just removed the log implementations' dependencies.

However this task is bigger, as it continues with #144 . If you want to contribute to it, just leave a message in the #144 task, and I will assign it to you.

Thank you for your thoughts, they really help me focusing on what to do regarding logging!

[2020-09-22 21:33] jaguililla commented on #155
Included in other tasks

[2020-09-24 09:41] jaguililla opened #326 "Upgrade Dokka Gradle plugin"
Dokka is used to generate a BIG part of the site.

Some post processing of Dokka generated Markdown is done in Gradle scripts.

Te goal of this task is to use the latest Dokka plugin (1.4.10 alpha) and in the process check if some logic inside Gradle can be moved to Dokka plugins.

As a reference, you can check: https://blog.jetbrains.com/kotlin/2020/09/dokka-alpha-for-kotlin-1-4

[2020-09-24 19:32] #226 closed

[2020-09-25 09:40] hadv commented on #280
I'd love to do this task

[2020-09-26 08:37] jaguililla commented on #280
Hello! and thanks for the interest in the project. I'll assign it to you and put it in the 'Working' column. Please, do not hesitate to contact me if the issue is missing some information.

You can also contact me on Kotlin's Slack (jaguililla). You can request an invitation here: https://kotlinlang.org/community (they are usually quick in granting the access).

Thanks again and we'll be in touch!

[2020-09-27 15:10] jdornieden commented on #310
Very interesting project! I'd like to work on this one. However, I might need some more information on how you would like to have the configuration of multiple adapters.

[2020-09-28 06:46] jaguililla commented on #310
Sure! I've assigned this issue to you and moved to the 'Working' column.

To register different adapters, you can create a method in `TemplateManager`. I.e.: `fun register(pattern: String, adapter: TemplatePort)`. To discuss how this would play with the dependency injection and different implementation strategies, you can chat with me in Kotlin's Slack channel (you can join it here: https://kotlin

[2020-09-28 14:01] soyPeter commented on #265
I would like to give this a try, can we discuss whats the best approach?

[2020-09-28 19:11] jaguililla opened #328 "Error parsing query parameters"
If a query parameter is defined with an empty value (I.e.: `?status=`) a 500 error is returned.

In that scenario we should assume it is a single element list with an empty string (as if you pass `?status`).

[2020-09-28 19:26] jaguililla commented on #265
I know you've got a lot of experience with relational DBs... however, note it could be a long task to finish. If you don't mind that, we can discuss strategies (check some pointers stated on comments above), split it in smaller tasks and start making progress.

I'll reach you at Slack to discuss the details.

Thanks for your support to the project!

[2020-09-29 10:44] ThinkHattke commented on #326
Can I work on this @jaguililla ?

[2020-09-29 11:18] jaguililla commented on #326
Sure! I just assigned the task to you... If you need anything, just contact me!

[2020-09-29 12:23] ThinkHattke commented on #326
Sure @jaguililla , will reach out if I need any help. Thank you :)

[2020-10-01 04:40] pedro-cze commented on #328
Hello, @jaguililla I'd like to take this one, unless it's already taken.

[2020-10-01 13:44] Terril commented on #270
Hi,

I would like to contribute to this.

[2020-10-01 15:20] jaguililla commented on #270
Sure! go ahead... Just ask me anything you need :)

[2020-10-01 20:53] BikramjeetSingh commented on #328
Sure, @pedro-cze feel free to pick this up.

[2020-10-02 04:06] hadv commented on #280
Hi @jaguililla

I add jackson-dataformat-xml into the dependencies but I need to update the `verification-metadata.xml` file to add some related dependencies libs' trusted key also. Can you guide me the detail steps to do this?

Thank you!

[2020-10-02 07:17] jaguililla commented on #280
You can check the details on the `contributing.md` file.

But for this case: you can copy & paste another Jackson entry on the `verification-metadata.xml` file (on the `<trusted-keys>` section) changing the name to `jackson-dataformat-xml`. I.e.:

`<trusted-key id="6214760097dc5cfad0175ac2c9fbaa83a8753994" group="com\.fasterxml\.jackson\..*" name="jackson-dataformat-xml" regex="true"/>`

[2020-10-02 08:33] hadv commented on #280
Yes, I already read it but I don't know where to get the trusted-key id of other dependencies, due to xml need two other below libs

[code]

[2020-10-02 09:25] jaguililla commented on #280
The build fails with a link to a HTML report. Inside you can find the keys used to sign those dependencies.

You can verify the fingerprint using a public key server (I guess there are instructions in `contributing.md`, otherwise, tell me).

After that you can add the fingerprint to the dependency the same way you did with the `jackson-dataformat-xml` 🙂

[2020-10-02 19:06] pedro-cze commented on #328
Hello @jaguililla I'd like to push the fix, but I am unable to do it due to insufficient privileges. I get the `403` on `git push` (tried ssh & github credentials). Is there something I am missing? Thanks.

[code]

[2020-10-04 02:11] SalmonKing72 commented on #292
I'd like to help with this.

[2020-10-04 08:08] sumitkp18 commented on #271
Hi @jaguililla ,
I am a first time contributor.
Can I take his task up?

[2020-10-04 09:37] sumitkp18 commented on #271
I am unable to build the project.
Getting the following error:
e: /Users/<username>/StudioProjects/hexagon/build.gradle.kts:13:29: Unresolved reference: nullOutputStream

[2020-10-04 12:18] jaguililla commented on #328
Hi... and sorry for the late reply.

Contributions to the project are made via Pull Request (PR). To do so, first you have to create a fork of the project and commit your changes there. After that, you can file a PR from your source to the origin project.

As I guess you already cloned `hexagonkt/hexagon`, you have to create the fork (which would end up being something like `pedro-cze/hexagon`) an

[2020-10-04 12:18] jaguililla commented on #292
Sure! It's all yours... Let me know if you need anything from my side :)

[2020-10-04 12:20] #312 closed

[2020-10-04 12:23] jaguililla commented on #271
Thanks for contributing! You need to set up a JDK11 (nullOutputStream is available for JDK11+). Check `contributing.md` for all details. And if you need to do anything else not listed there... don't miss the chance to update `contributing.md` itself :)

[2020-10-04 15:32] sumitkp18 commented on #271
Thanks @jaguililla .
Have setup the project with JDK11.
I have started documenting the project.
Completed JettyServerAdapter.
Could you please assign this issue to me?

How do you want the PRs for the documentation?
PR per module is fine?

[2020-10-04 16:19] jaguililla commented on #271
I'll assign it to you, however, note that it is a long task and it doesn't matter if you finish it or not (it is a continuous background tasks until 2.0 release).

A PR per module is fine, but as some of them are big, you can also make PRs per package.

After proceeding with documenting, take a look to ongoing tasks to avoid conflicts with other PRs (btw, I'm working on the `hexagon_core` module n

[2020-10-04 17:22] pedro-cze commented on #328
Great, thank you too. I created the PR. I sincerelly hope that there is eveything formally and functionally ok with it. Please give me a word if there is still something wrong/missing. Thanks.

[2020-10-04 18:35] sumitkp18 commented on #34
Hi @jaguililla ,
I have read the given reference docs of MDN on encoding and want to try to work on this task.
As per my understanding the Client needs to send the "Accept-Encoding" in headers of ClientSettings instance which needs to be handled accordingly by the Server for compression and sending back the proper headers through ServerSettings.
Could you please give some more context on the requi

[2020-10-04 18:41] sumitkp18 commented on #35
Hi @jaguililla ,
I have read the spark java implementation for the websocket example and would like to take this task.

[2020-10-04 20:11] SalmonKing72 commented on #292
@jaguililla do you require all 3 items as acceptance or is the service worker optional?

[2020-10-05 01:52] sumitkp18 commented on #271
Thanks @jaguililla .
I will raise my PR for the http_server_jetty module. Please help me with your PR comments if any changes are required in my style of Java docs so that I can follow the same in other PRs too.

Thanks.

[2020-10-05 18:34] jaguililla commented on #292
The worker is a nice to have... you can leave it aside and I will create another issue only for that

[2020-10-05 18:45] jaguililla commented on #34
Ok, it is exactly the way you described it. Note that you can pass the `Accept-Encoding` header in a request basis (not required to pass it on the ClientSettings parameters).

The server should react in the case the header is passed compressing the output and sending the `Content-Encoding` header (not sure it is the exact name) back.

Note that for the Server adapters (I.e.: Jetty) this could be a

[2020-10-05 18:54] jaguililla commented on #35
You have to know that this feature is still in the 'design' phase and it would require more investigation to define a final API.

It is not a quick one, but if you don't mind taking the time, we can discuss the API, implementation, tests, etc.

I was looking into the Web Socket implementation of javalin.io (https://javalin.io/documentation#websockets) that I find more clear than Spark's one (and a

[2020-10-06 02:29] SalmonKing72 commented on #292
@jaguililla sounds good. Where are you looking to use the dev.to icon as a link? Is this in the community nav or perhaps as part of the social links in the footer?

[2020-10-06 04:01] sumitkp18 commented on #35
Thanks for providing the context @jaguililla .
I am interested in learning web sockets. Will be glad to work on it for long term. Will need some guidance in case I get stuck.
Will go through the javalin and jooby implementations too and also study more on websockets.
Thanks for encouraging!

[2020-10-06 04:40] sumitkp18 commented on #271
@jaguililla
Can you please help me with my first PR.
I have forked the hexagon repo and while pushing I am getting a Build Error

`> Task :cleanDocker FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':cleanDocker'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to

[2020-10-06 04:56] sumitkp18 commented on #34
Thanks for the explanation @jaguililla .

[2020-10-06 05:17] jaguililla commented on #292
Use the icon only in the footer, please :)

[2020-10-06 05:29] jaguililla commented on #271
You'll need Docker installed... you can take a look at the [contributing guide](https://hexagonkt.com/contributing/#local-setup). And ask again if it doesn't solve your problem (in that case, I'll help you and update the guide). Thanks!

[2020-10-06 06:01] jaguililla commented on #239
The first time a feature that applies to REST services but NOT to web pages the module will be split.

[2020-10-06 06:01] #239 closed

[2020-10-06 09:38] sumitkp18 commented on #271
I have docker installed.
I now tried to run the following command given in contributing guide:
`./gradlew setUp build buildSite publishToMavenLocal`

and it gives me the following error:

Dependency verification is an incubating feature.

Client: Docker Engine - Community
 Cloud integration  0.1.18
 Version:           19.03.13
 API version:       1.40
 Go version:        go1.13.15
 Git commit:

[2020-10-06 09:41] sumitkp18 commented on #271
All tests of ClientTest class pass successfully if the test is run independently on the class.

[2020-10-06 09:59] sumitkp18 commented on #271
I was able to run the command successfully on removing the test annotation from the following method in ClientTest class:

[2020-10-06 09:59] sumitkp18 commented on #271
I was able to run the command successfully on removing the test annotation from the following method in ClientTest class:

[2020-10-07 07:22] jaguililla commented on #271
What file is being created?

[2020-10-07 09:21] sumitkp18 commented on #271
a file named docker

[2020-10-07 09:48] sumitkp18 commented on #271
@jaguililla
I was using Sourcetree app to handle git, and perhaps it wasn't able to resolve docker binary.

I tried pushing it through terminal and it worked.
I have pushed the changes.
Will raise PR.

[2020-10-07 11:59] sumitkp18 commented on #34
How can we check whether the compression is handled on the server side? like as you mentioned it is handled for JettyServerAdapter.

I tried to add the encoding parameter to ClientSettings and handled it in send() method of Client by adding a parameter "Accept-Encoding: gzip" to the request headers.

I tested it in one of the tests in ClientTest, while debugging the request object had the encoding

[2020-10-08 08:25] jaguililla commented on #328
Merged... Thanks for your contribution!

[2020-10-08 08:25] #328 closed

[2020-10-08 17:23] jaguililla commented on #34
Ok, if you didn't get the header in the response, probably it is not compressed. So you could research about implementing compression using Jetty (for this particular adapter). I searched a little bit and I found this:

* https://stackoverflow.com/questions/24521426/setup-jetty-gziphandler-programmatically
* https://www.eclipse.org/jetty/documentation/current/gzip-filter.html

I don't know if that

[2020-10-08 17:47] sumitkp18 commented on #34
Thank you so much @jaguililla for clarifying.
I will look into the resources and do some further research on it.

[2020-10-10 06:10] AnoojPoozhikuth commented on #311
Hello @jaguililla , I can claim this if that is ok.  Could you please provide me with more details?

[2020-10-11 01:36] sumitkp18 commented on #271
@jaguililla I have addressed the review comments and updated my PR. Could you please check.

[2020-10-11 10:58] jaguililla commented on #311
Done! and sorry for the delay.

[2020-10-11 11:03] jaguililla commented on #271
I made two minor comments and with those it will be done 🙂

[2020-10-11 13:05] eboliveira commented on #260
Hi @jaguililla,

I would like to contribute to this.

[2020-10-11 17:29] sumitkp18 commented on #271
Addressed the comments and pushed the changes.

[2020-10-12 09:04] jaguililla commented on #271
Merged! Now you've warmed up... Wouldn't you like to pick another module ;)

[2020-10-12 09:58] sumitkp18 commented on #271
Sure @jaguililla
Thanks a lot for guiding me.
This is my first Open Source contribution! Feeling awesome!

[2020-10-14 09:35] Hamza-Rahal commented on #189
Hello, I would like to take on this feature, could you please give me more details?

[2020-10-15 04:52] SalmonKing72 commented on #292
I found a small issue with the mongoDB tests where the TimeZone doesn't seem to be considered which was causing assertions to fail for me since the day is off by 1 in some of the cases. I've added this to fix. Let me know if it's okay to include in this PR or if you want a separate issue and PR.

[code]

[2020-10-16 06:20] jaguililla commented on #292
That's a nice catch! Thank you, I would prefer to have it as a separate PR if you don't mind :)

[2020-10-16 09:18] AnoojPoozhikuth commented on #311
Got stuck with work a bit :)

Trying to clarify few things @jaguililla
1. "Request" mentioned here is this class - com.hexagonkt.http.client.Request  - right ?
2. I can create an extension method (maybe inside the same file or in a new file, please let me know if you have any suggestion) which as you mentioned above will do mapping of all type of request params
3. Method will extract all fields an

[2020-10-16 09:25] Hamza-Rahal commented on #189
Hello, I would like to take on this feature, could you please give me more details.

[2020-10-16 15:01] SalmonKing72 commented on #292
@jaguililla sounds good. would you like a separate issue created as well? I'll go ahead and do that if you want to have the separate PR linked to it.

[2020-10-18 12:21] jaguililla commented on #311
Sorry for the late reply... I added a comment in the #333 PR Thanks!

However, regarding your points:
1. It was intended for parsing parameters to a type in the server (however, it is easy to move there)
2. Extension method is fine
3. Yes, assume keys won't be repeated, it could be a nice addition to log a warning if that happen. But it is ok that way
4. Returning null as you did is perfectly fine

[2020-10-18 12:23] jaguililla commented on #292
No need for the issue, adding the description in the PR is fine. If you are participating in Hacktoberfest and it doesn't count a PR without an issue just let me know... but I guess it is no problem...  :) Thank you!

[2020-10-18 21:10] SalmonKing72 commented on #292
@jaguililla Thanks for the help! I have this PR, https://github.com/hexagonkt/hexagon/pull/335 ready. If you wouldn't mind putting the `hacktoberfest-accepted` label on that, that would be greatly appreciated. Once that's approved and merged into `develop`. I'll wrap up the work for #292 and submit a separate PR.

[2020-10-19 01:44] Megamiun commented on #326
Hello, was there ay news about this task?

[2020-10-19 07:02] AnoojPoozhikuth commented on #311
Ok, so the task has to be based on _**com.hexagonkt.http.server.Request**_  , right ?   which is extended by _internal class Request_

Let me change my PR accordingly

[2020-10-20 22:58] CaptainMugen commented on #189
Hello @jaguililla,

I'm looking to gain some experience contributing to open-source projects and I'd like to take a crack at this if you could provide some more information.

[2020-10-22 07:52] jaguililla commented on #292
Done!

[2020-10-23 04:11] sumitkp18 commented on #271
Starting with port_http_server module.
Sorry for the long break, had been busy with work.

[2020-10-24 09:23] jaguililla commented on #189
Hello @CaptainMugen and thank you for your interest :)

I wanted to include helpers in the server and the client to ease the adoption of HTTP cache headers by applications using this toolkit.

I was looking at the following documentation to gather a set of requirements:

* https://developer.mozilla.org/es/docs/Web/HTTP/Caching
* https://tools.ietf.org/html/rfc7234
* https://web.dev/http-cache
* ht

[2020-10-24 09:26] jaguililla commented on #271
No worries, I understand (that was my situation some days ago) 🙂 Thank you for your contribution, don't press yourself, relax and enjoy!

[2020-10-24 10:07] #310 closed

[2020-10-26 06:14] sumitkp18 commented on #271
@jaguililla , can you please help with the RequestHandler class. I am not getting a clear idea on its purpose.

[2020-10-26 09:55] sumitkp18 commented on #271
I was able to get some understanding by observing test implementations. Have added the docs accordingly; will modify if required, after review.

[2020-10-26 17:59] kratostaine commented on #110
@jaguililla can I help you with this?

[2020-10-26 21:52] jaguililla commented on #110
Sure thing! I'm assigning it to you and reviewing the description

[2020-10-27 08:25] #311 closed

[2020-10-27 12:37] sumitkp18 commented on #271
@jaguililla
I have raised a PR for documentation of port_http_server module.
Please review.

[2020-10-29 06:37] kratostaine commented on #110
@jaguililla Can you please elaborate on this requirement? I initially thought it would be self-explanatory but would need more details on the requirement here please.

[2020-10-31 10:40] jaguililla commented on #271
Reviewed with a few comments :)

[2020-10-31 15:37] sumitkp18 commented on #34
@jaguililla
I was again trying to debug to understand how to add compression on server side, the response I am getting for Jetty adapter contains Content-Encoding: chunked.
And also as per documentation it seems jetty already handles gzip compression, but I am not sure why I am not getting a compressed response when provide with proper headers for Accept-Encoding.

[2020-10-31 16:03] jaguililla opened #339 "Upgrade to MkDocs Material 6.x"
Upgrade to MkDocs Material 6. To do so, you can check the theme's documentation: https://squidfunk.github.io/mkdocs-material/upgrading/

[2020-10-31 16:03] #292 closed

[2020-10-31 16:06] Debadri3 commented on #339
Can I work on this issue?

[2020-10-31 16:35] jaguililla commented on #339
Thanks for your interest @Debadri3 :) this issue was proposed by @SalmonKing72 at the PR #338

Take a look at the rest of the backlog if you want, if some other task seems appealing to you, I can give you more details :)

[2020-10-31 17:54] SalmonKing72 commented on #339
@Debadri3 feel free to take this if you've made progress already. I'll pivot to something else in the backlog.

[2020-11-01 03:23] SalmonKing72 commented on #339
@jaguililla caught up on the commentary around this. If you want to assign this to me. I can keep running w/ it.

[2020-11-01 18:33] jaguililla commented on #339
Done!

[2020-11-02 06:03] sumitkp18 commented on #271
Addressed the comments @jaguililla .
Thanks.

[2020-11-02 11:02] jaguililla commented on #271
Thanks to you 🙂

[2020-11-02 11:03] jaguililla commented on #34
I would need to look into this with more detail... give some days to check it out :)

[2020-11-02 11:04] jaguililla commented on #110
Give me some extra days and I'll make the spec more clear... It was quick sketched, sorry

[2020-11-11 18:31] jaguililla commented on #280
Hi @hadv would you like to continue working on this task? If you can't give it time... I understand :) just let me know (in order to move it to the backlog or work on it)... Thanks!

[2020-11-11 18:31] jaguililla commented on #326
Hi @ThinkHattke would you like to continue working on this task? If you can't give it time... I understand :) just let me know (in order to move it to the backlog or work on it)... Thanks!

[2020-11-11 18:32] jaguililla commented on #270
Hi @Terril would you like to continue working on this task? If you can't give it time... I understand :) just let me know (in order to move it to the backlog or work on it)... Thanks!

[2020-11-11 18:33] #143 closed

[2020-11-11 18:42] jaguililla commented on #339
Hi @SalmonKing72 regarding documentation, I made some small adjustments in the latest PR (just to let you know).

However, with the most recent versions of MkDocs Material it seems that the search box and the tabbed code snippets stopped working (I were not able to make them work again :( ).

If you are able to fix those issues that would be wonderful. If you cannot, you can stop working on this t

[2020-11-12 03:32] SalmonKing72 commented on #339
@jaguililla sounds good. I can look at it more. Did those features stop working with version 5.x or 6.x?

[2020-11-12 11:21] jaguililla commented on #339
Yes... they were working on 4.x and stopped with 5.x (they didn't work on 6.x neither). I dig a little bit, and it seems to be a problem picking the `lang` config of the `search` plugin (I set it up, however, it should pick 'en' by default). I cannot make it work, maybe is a a MkDocs or MkDocs Material bug.

And the tabbed code snippets syntax changed. The problem is that Dokka generates the Markd

[2020-11-14 02:50] Terril commented on #270
@jaguililla sorry for delaying it. Will be creating a PR for this soon

[2020-11-19 22:01] jaguililla commented on #339
I found the problems, they are fixed in `develop`, the remaining issue in this task is to migrate to 6.x version :)

[2020-11-20 14:11] SalmonKing72 commented on #339
Sounds great. I pulled the changes last night. I should have some time over the next few days to dig into this more. Sorry for the radio silence... I've been busy with other personal matters. Thanks for the update!

[2020-12-23 19:37] #339 closed

[2021-01-25 18:58] jaguililla commented on #34
Hello, and sorry for the late reply. While I was changing the ServerPort interface I found out about Jetty GZIP support, so it is already implemented in the 1.3.6 version. Sorry for the delay on the communications :(

I will close this ticket as it is already implemented. Thanks!

[2021-01-25 18:58] #34 closed

[2021-02-05 20:07] #280 closed

[2021-02-05 20:08] jaguililla commented on #280
Pending documentation in the site

[2021-02-18 23:22] #270 closed

[2021-03-03 20:45] #144 closed

[2021-03-06 19:20] bharath-pasham opened #366 "Fix ReadMe"
Current URL to test after starting up Jetty server is: http://localhost:2010/hello/world. This should be updated to: http://localhost:2010/hello/

[2021-03-07 13:49] jaguililla commented on #366
Thanks for noticing! It will be fixed in the next PR

[2021-03-07 15:05] jaguililla commented on #366
Fixed, but not yet published, will be online on 1.3.11

[2021-03-07 15:05] #366 closed

[2021-03-19 15:20] jaguililla opened #369 "TODO Hunting"
The code has hidden tasks, lingering among the source files... Waiting for someone to tackle them.

Would you be the brave developer to finish them?

This issue is an everlasting effort to clean the code of small tasks here and there. It won't be ever finished and stay on the 'Working' column potentially forever.

If you want to close a TODO, please reference this issue in the PR.

Most of the tas

[2021-03-26 01:04] Alphonse1 commented on #267
Hi @jaguililla ,
I am a first time contributor.
Can I take this task ?

[2021-03-26 20:04] jaguililla commented on #267
This could be a difficult task (be warned) however, if it motivates you... go ahead, I'll assign it to you and move it to the `In Progress` column. If you have any doubt... Ask me anything!

To set up the project take a look at the contribution guide: https://github.com/hexagonkt/hexagon/contribute

[2021-03-26 20:08] #326 closed

[2021-04-14 18:52] BikramjeetSingh commented on #35
I am almost finished finalizing the DSL. I thought it would be a good idea to share the tentative API available to end-users of the library. Wherever possible I tried to keep the property names similar to the corresponding properties in the `Call.kt` class.

**Properties:**
[code]

**Methods:**
[code]

**Example usage:**
[code]

Thoughts on this? Any functionality that is missing or can be improve

[2021-04-14 19:47] jaguililla commented on #35
That's a really clean API. However, I've got some suggestions :)

* For this feature to be consistent with the rest of the API, I guess the `message` parameter on the `onMessage` block could be included in the `MessageCall` (to give it a tentative name) leaving the block as:

[code]

* `onError` could receive an Exception type as the regular HTTP verbs to allow multiple handlers with different Exc

[2021-04-15 16:46] BikramjeetSingh commented on #35
Could you please clarify what you meant in your 2nd point? I'm not sure I understood it very well.

Regarding your 3rd point, the client does not send any statusCode and reason when closing. I believe those are only for handling connection closures on the server side. In case the client closes the connection, the underlying framework will pass some default status code of its own to our application

[2021-04-18 12:35] jaguililla commented on #35
Ok, now I understand how it works (and see it is different from usual HTTP requests).

I see your approach is valid, however, I would like to include the `message`, the `statusCode` and `reason` fields inside the handler's session instead them being passed as parameters to the callback block (to be consistent with HTTP handlers).

Do you think you can come up with a solution that takes care of thi

[2021-05-01 18:19] BikramjeetSingh commented on #35
Definitely, I can see your point about keeping the style consistent with the HTTP handlers code, and I think it is valid. I will modify the API so that it contains `message`, `statusCode` and `reason` as fields rather than as parameters.

[2021-05-21 09:01] #318 closed

[2021-05-24 12:53] ramyaravindranath commented on #369
Hey @jaguililla - I would like to work on few TODO tasks here.

[2021-05-25 21:37] jaguililla commented on #369
Thanks for your contribution! I just reviewed your PR, there were only two minor things to mention:

1. PRs should be done to `develop` and will be promoted to `master` after that (merge on `master` triggers a release).
2. A minor style issue with a space.

Good job in your first PR, I hope you find the project appealing :)

If you do, you may keep checking TODO issues as they are a good way to le

[2021-05-26 01:44] ramyaravindranath commented on #369
Thanks for the feedback. I Will keep in mind to send my PRs for `develop`. I will keep going with TODOs for now :)

[2021-07-11 16:36] jaguililla opened #400 "Support h2c (http/2 plain) protocol in Netty"
Add support for h2c protocol in Netty.

The protocol is set on the `HttpServerSettings` instance passed to the server.

All integration tests for the adapter must pass with this protocol.

Check the following Netty examples for reference/examples:
* https://netty.io/4.1/api/io/netty/handler/codec/http2/CleartextHttp2ServerUpgradeHandler.html
* https://github.com/netty/netty/blob/4.1/example/src/ma

[2021-07-11 16:36] jaguililla opened #401 "Add other Emoji groups. Check: http://www.unicode.org/emoji/charts/full-emoji-list.html"

[2021-07-11 16:36] jaguililla opened #402 "JavaFX module for desktop applications"

[2021-07-11 16:37] jaguililla opened #403 "Simple command line arguments parsing"
The purpose of this task would be to implement a minimum set of features to handle command line arguments properly without having to rely on a third party library like [picocli](https://github.com/remkop/picocli) or [jopt-simple](https://jopt-simple.github.io/jopt-simple).

The goal would be to provide the most used features to be used out of the box. Users who need all features, could go for an e

[2021-07-11 16:37] jaguililla opened #404 "GraalVM support"
To support GraalVM, packages should contain the proper metadata. To generate it, use the GraalVM Native Build Tools: https://graalvm.github.io/native-build-tools/latest/index.html

Check this article for more information: https://medium.com/graalvm/enhancing-3rd-party-library-support-in-graalvm-native-image-with-shared-metadata-9eeae1651da4

Native images could be further compressed with [UPX](htt

[2021-07-11 16:37] jaguililla opened #405 "Add 'serverless' support"
Add 'serverless' by using a "fake" server adapter (like the Servlets one) that takes a request from command line arguments.

Check this snippet to set up development environment: https://gist.github.com/crypticmind/c75db15fd774fe8f53282c3ccbe3d7ad and https://hashnode.localstack.cloud/creating-aws-lambda-function-urls-with-localstack

* https://docs.aws.amazon.com/lambda/latest/dg/services-apigate

[2021-07-11 16:37] jaguililla opened #406 "Build test jars with 'main' to convert them in GraalVM native images (in order to test them)"

[2021-07-11 16:37] jaguililla opened #407 "Implement filters for HTTP clients (I.e.: for signing requests)"

[2021-07-11 16:37] jaguililla opened #408 "Add AWS request signing callback"
Create an HTTP callback to sign HTTP requests using the AWS signing request algorithm.

Callbacks already developed in the `http/http_server` module (on the `com/hexagonkt/http/server/callbacks` package) can be used as reference for development and testing of such components.

There is also an example of a callback used in the HTTP client as opposed to the callbacks used in the server (the class n

[2021-07-11 17:42] jaguililla opened #409 "Document working features"

[2021-08-12 17:31] #409 closed

[2021-08-27 19:00] jaguililla opened #417 "Types converter registry"
Create a `ConverterManager` (tentative name) that will map pairs of types to functions that convert from one to the other.

This functionality is extensively used in the development on bussiness applications. Often developers rely on reflection.

A "layered approach" can be taken, first allow manual converters, then a fallback with reflection, and lastly, maybe annotations to generate the mapping

[2021-08-28 15:22] jaguililla opened #418 "Add MultiMap implementation to Core"
Check the details of this data structure (and check some Java implementations [here](https://en.wikipedia.org/wiki/Multimap)

[2021-08-30 17:14] jaguililla commented on #267
Hello, the `store` and `messaging` ports are going to be moved to another repository. Are you working on this task? If not, just let me know so I can returned to the `Ready` column. Thanks!

[2021-09-22 17:41] jaguililla commented on #110
Postponed until v2 is released as the type serialization and parsing is going to change in next release.

[2021-09-25 19:37] MohamedHarmoush commented on #271
Hi @jaguililla
I am a first-time contributor.
If it doesn't bother you, could you guide me with modules that need to get documented?

[2021-09-26 09:25] jaguililla commented on #271
Hello @MohamedHarmoush  and thank you for your interest in this toolkit, the best module to start would be Hexagon Core.

The `helpers` package already contains some documentation (you can read some of the comments to use the same style).

Before considering picking another module, ask me... I'm working on version 2 and will have very deep changes, so some modules will be completely rewritten.

Th

[2021-09-29 08:59] pedro-cze commented on #403
Well, I would recommend not to reinvent the wheel :smile_cat: but providing some basic implementation according to requirements above seems reasonable. There will be a lot of to test though.

[2021-09-29 17:11] jaguililla commented on #403
Ok, if you feel like it is challenging and funny to do for you... Go ahead!

Let's see how many functionality can be made without making a big and/or complex development.

However, if the functionality becomes big, it can always be moved to another module outside *Hexagon Core*.

I will wait until your confirmation to assign this task to you. Just let me know :)

[2021-09-30 06:12] Rishavgupta12345 commented on #369
can i work on this issue ?

[2021-09-30 06:26] pedro-cze commented on #403
Ok, I will take this one, thanks. :)

[2021-09-30 06:33] Rishavgupta12345 commented on #272
can i work on this issue

[2021-09-30 06:37] Rishavgupta12345 commented on #271
can i work on this issue?

[2021-09-30 08:44] MohamedHarmoush commented on #271
Hello @jaguililla
Sorry, for being late because I'm busy and it's my first-time work on docker and I want to learn it before I continue. I'll check the toolkit hexagon before start working on `the core module`  documentation.

Thanks.

[2021-09-30 19:08] jaguililla commented on #369
Sure! Thanks for your support :)

Please, don't make long PRs, you can make a PR per TODO solved.

I won't assign the task to you as many people can be fixing different TODOs, I will ask you to put a comment with the TODO comment you plan to take to avoid conflicts.

Thanks again... and happy coding!

[2021-09-30 19:09] jaguililla commented on #403
All yours... Thanks!

[2021-09-30 19:15] jaguililla commented on #272
Sure! you can proceed... You can make PRs per class with loggers added. I would prefer several small PRs rather than a big one.

Please, keep in mind that the goal is not to have all classes with a lot of logging information, but to add only the bare minimum information for a programmer to know what is going on (just review the task description for all details ;)

As the TODO task and the document

[2021-09-30 19:18] jaguililla commented on #271
@Rishavgupta12345 and @MohamedHarmoush you can both work on this task. You can use the task comments (this thread) to coordinate among you (I.e.: posting which class or package you are going to be working on).

Thanks both for your help :)

[2021-10-01 11:54] MohamedHarmoush commented on #271
@jaguililla Okay, Thanks.

I have an issue when tried to use `gw help` as in [the Local Setup](https://hexagonkt.com/contributing/#local-setup) section, I got this error.

`FAILURE: Build failed with an exception.

* What went wrong:
Unable to start the daemon process.
This problem might be caused by incorrect configuration of the daemon.
For example, an unrecognized jvm option is used.
Please ref

[2021-10-01 12:59] MohamedHarmoush commented on #271
@jaguililla I solved the issue. It was related to java version` jdk17` that [gradle `v7.2` (used in hexagon) not support `jdk16` `jdk17`.](https://issueexplorer.com/issue/gradle/gradle/18323)

[2021-10-02 10:13] jaguililla commented on #271
@MohamedHarmoush JDK17 is still fresh... Don't put to much effort supporting it ;)

The supported runtimes now are 8 (for running only, not compiling Hexagon) and 11 (to compile the project and also run their applications).

In my case (as I use different JVMs for different projects), I use https://www.jenv.be (you can also use https://sdkman.io if you prefer) for setting a fixed Java version to e

[2021-10-03 13:59] pk97 commented on #272
Hi, I would like to contribute here!

[2021-10-03 13:59] MohamedHarmoush commented on #271
@jaguililla thanks. Sometimes I get confused with the different versions of java and don't know what's the best java version fits in my project. I'll use JDK11.

[2021-10-04 06:02] jaguililla commented on #272
Great @pk97 !!! As there is going to be many changes for v2. It is safe to improve logging of the Hexagon Core module. However, as v1 could be in use some time after v2 release, logs can also be added to other modules.

Remember to add log statements only if the provided useful information (to avoid log flood, that makes reasoning about the code harder) and follow the guidelines in the issue's des

[2021-10-04 06:15] Rishavgupta12345 commented on #369
can i work on this ?

[2021-10-04 06:25] jaguililla commented on #369
Absolutely @Rishavgupta12345 just be sure to put a comment with the items you will be working on (for coordination sake). Thanks!

[2021-10-04 06:44] Rishavgupta12345 commented on #369
@jaguililla  i find that some todo is already completed but still has the todo comment on it .
so if I remove those comments then will this be a legit pull request ?

sorry to bother you actually this is my first contribution

[2021-10-07 14:09] MohamedHarmoush commented on #271
Hey @jaguililla,
Sorry for being late.
I added documentation for `logging` package in `hexagon_core` module. I'd like you to check it and give me your feedback.

[2021-11-01 16:33] #417 closed

[2022-01-03 14:25] jaguililla opened #592 "Add WebSockets example"
I.e.: https://javalin.io/tutorials/websocket-example

[2022-01-04 12:29] jaguililla opened #465 "Add diagrams to documentation"
Add Mermaid diagrams supports to docs. Check:
* https://mermaid-js.github.io/mermaid
* https://squidfunk.github.io/mkdocs-material/reference/diagrams
* https://github.com/glureau/dokka-mermaid

Some useful diagrams to add would be:
* Modules layers/stack. I.e.:

[code]

[2022-01-04 12:31] jaguililla opened #466 "Don't use Docker in site publishing"
Use GitHub Actions steps and runners Python commands to avoid Docker download and cache MkDocs packages.

Check: https://squidfunk.github.io/mkdocs-material/publishing-your-site

[2022-02-24 18:51] jaguililla commented on #263
Netty will be used instead Vert.x

[2022-02-24 18:51] #263 closed

[2022-02-24 18:51] #466 closed

[2022-02-24 19:27] jaguililla opened #491 "Add support for Netty native transports"
Add support to native transports in different modules each one.

Information: https://netty.io/wiki/native-transports.html

Changes on the Netty adapter settings are required to be able to be reused from `http_server_{netty_epoll,kqueue}`

Gradle dependencies:
[code]

[2022-04-17 14:59] jaguililla opened #495 "Add Apache HTTP server adapter"
Check: https://hc.apache.org/httpcomponents-core-5.1.x/index.html

[2022-04-23 18:50] ibado commented on #403
Hi @jaguililla, I'm interesting in taking this one? Is @pedro-cze still woriing on it?

[2022-04-23 18:54] Speedro commented on #403
Hi @ibado feel free to take it.

[2022-04-24 17:21] jaguililla commented on #403
Hello @ibado, as @Speedro (I'm assuming it is the same person than @pedro-cze, at least, the account names are the same 🙂) is ok with that, I'll assign the task to you.

If you have any doubts, suggestions, etc. Just let me know and I'll be happy to help you if it's in my hands.

Happy coding!

[2022-04-24 17:22] jaguililla commented on #403
Hello @ibado, as @Speedro (I'm assuming it is the same person than @pedro-cze, at least, the account names are the same 🙂) is ok with that, I'll assign the task to you.

If you have any doubts, suggestions, etc. Just let me know and I'll be happy to help you if it's in my hands.

Happy coding!

[2022-04-24 17:32] jaguililla commented on #403
Hello @ibado, as @Speedro (I'm assuming it is the same person than @pedro-cze, at least, the account names are the same 🙂) is ok with that, I'll assign the task to you.

If you have any doubts, suggestions, etc. Just let me know and I'll be happy to help you if it's in my hands.

Happy coding!

[2022-04-24 17:32] jaguililla commented on #403
Hello @ibado, as @Speedro (I'm assuming it is the same person than @pedro-cze, at least, the account names are the same 🙂) is ok with that, I'll assign the task to you.

If you have any doubts, suggestions, etc. Just let me know and I'll be happy to help you if it's in my hands.

Happy coding!

[2022-04-24 17:34] jaguililla commented on #403
Hello @ibado, as @Speedro (I'm assuming it is the same person than @pedro-cze, at least, the account names are the same 🙂) is ok with that, I'll assign the task to you.

If you have any doubts, suggestions, etc. Just let me know and I'll be happy to help you if it's in my hands.

Happy coding!

[2022-04-24 23:25] ibado commented on #403
Hi @jaguililla I've been thinking in a different way of defining arguments.
Instead of using a data class Options<T>, a KClass can be passed as arguments Template:
[code]
So a sample usage would be:
[code]
And some simple annotation can be used for special configuration, something like this:
[code]
What you think? please LMK :slightly_smiling_face:

[2022-04-25 21:14] jaguililla commented on #403
That proposal seems very convenient to me, very easy to use and straightforward to understand by the users... However, there are some points I would like to note:

* The parameters are only one source of many in which the application config could come.
* Therefore, parsing them to a target class would pose the problem of having to integrate the other sources, priorities, etc.
* Due to the reason a

[2022-04-27 01:34] ibado commented on #403
Hi again! I get your point of view, that makes total sense.
Said that, I feel that your original proposal could be a little awkward in terms of user experience, since you'd need to cast the values in the resulting map:
[code]
That would be okay or am I missing something here? :thinking:

Another potential issue that I'm not sure can be done without reflection is having an `Option` of non-primitive

[2022-04-28 21:09] ibado commented on #403
Hi @jaguililla, have you been able to take a look at this?

[2022-04-28 22:01] jaguililla commented on #403
Sorry for the delay... The code you set as a sample could be a little verbose, I agree.

However, on top of the general cases, you can add some syntactic sugar in the form of utility classes / functions. I.e.:

[code]

That could be accomplished just by adding some utility code on top of the general model definitions (the verbose ones).

From this point, the approach could be:

1. Write the more g

[2022-04-30 15:42] ibado commented on #403
Hi @jaguililla, I agree with you. The approach you proposed sounds the most reasonable way to proceed.

Talking about the "syntax sugar" part, I was specially worried about the **casting** part. the rest doesn't look bad in terms of boilerplate level.
I'm pretty sure the "type inference" won't work in the sample code you wrote.
An alternatvie to build on top of that could be to wrap the resulting

[2022-05-04 15:59] #491 closed

[2022-05-21 10:58] #403 closed

[2022-06-04 12:04] jaguililla opened #508 "Add HTTP server cheat sheet"
Create a cheat sheet like: https://gist.github.com/jaguililla/ff8e671bb770478253553f5fb7a8ff5d in the documentation site.

Link it to the project site on the main menu (below HTTP server reference).

[2022-07-12 22:10] jaguililla commented on #406
Check #404 for pointers on how to proceed with this functionality

[2022-08-22 10:52] JordanllHarper commented on #369
I would be interested in helping on some TODO's here!

[2022-08-22 21:43] jaguililla commented on #369
Great!!! Just take a look at the [contributing guide](https://github.com/hexagonkt/hexagon/contribute), and if you have any question, don't hesitate to ask. Thanks for your help :)

[2022-09-04 14:29] Younus-Saberi commented on #271
Hi @jaguililla ,
I am a first-time contributor.
Can I take this task up?

[2022-09-04 15:25] jaguililla commented on #271
Sure... be my guest :) Please, read the task's description to follow the project's documentation style ;)

I will assign this task to you, and of course, if you have any question, please ask!

Thank you for your help and interest in the project... Happy coding!

[2022-09-05 06:21] Younus-Saberi commented on #271
I have docker installed and when i am building the project its giving me the

![image](https://user-images.githubusercontent.com/73644685/188373444-937c3981-8c3e-4185-a9b3-bb79c3d0564b.png)

[2022-09-05 07:02] jaguililla commented on #271
Can you share with me the output of `./gradlew -v`? and also, the list of failed tests (listed when you open the `index.html` file).

[2022-09-05 08:31] Younus-Saberi commented on #271
Okay
![image](https://user-images.githubusercontent.com/73644685/188403739-5f68a57b-2316-4016-875c-5332f8b4bd3e.png)
![image](https://user-images.githubusercontent.com/73644685/188404696-a21d4586-111c-4ec7-9027-5665442eb1ef.png)

[2022-09-05 09:40] jaguililla commented on #271
Sorry for the bad explanation, I'll need you to open the `index.html` file with a browser and send me the list of failed tests.

[2022-09-05 09:47] Younus-Saberi commented on #271
![image](https://user-images.githubusercontent.com/73644685/188420302-a6ea7406-e0d3-4158-b690-d4fdd108d3d7.png)
`<html>
<body>
<h1 style="white-space: nowrap; font-size: 25.6px; margin-bottom: 10px; color: rgb(48, 48, 48); font-family: sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px;

[2022-09-06 12:04] jaguililla commented on #271
Ok, it seems that the signing algorithm used in the test keystore is not supported in your system. I will find out and change it by a more widely used algorithm.

In the meantime, replace the failing test with this line:

[code]

But remember to not commit that change ;)

[2022-09-06 13:58] Younus-Saberi commented on #271
Sure 👍

[2022-09-08 10:56] jaguililla commented on #31
Won't be done on the core project. It could fit on an extra module on top of HTTP model (adding another layer, instead adding complexity).

[2022-09-09 12:46] jaguililla commented on #465
Dokka supports Mermaid JS also.

[2022-09-16 21:44] jaguililla opened #543 "Implement 'dokka_json' plugin"

[2022-09-16 21:57] jaguililla opened #544 "Add Netty HTTP client adapter"
Implement an HTTP client adapter using Netty. This new module should be located at the `http/http_client_netty` directory.

The `http_client_jetty` module can be used as a guide.

`http_client_jetty` integration tests are located in `http_test/src/test/kotlin/com/hexagonkt/http/test/AdapterExamplesTest.kt`, the Netty adapter should copy them into its module tests (same as `http_client_jetty`) and

[2022-10-01 05:33] CaptainDaVinci commented on #544
Hi, I would like to work on this issue ✋🏼

I'm new to the project so I'll get started with reading the documentation.

[2022-10-01 09:51] jaguililla commented on #544
That's great @CaptainDaVinci ...

Just take a look at the [Contributing Guide](https://github.com/hexagonkt/hexagon/contribute) to get started and don't hesitate to ask for help

I will assign this issue to you and move it to the 'in progress' status.

Thank you very much for your help and support!

[2022-10-22 16:32] #465 closed

[2022-10-23 18:11] jaguililla commented on #260
This can be implemented as a filter outside the toolkit.

[2022-10-23 18:11] #260 closed

[2022-10-23 18:11] jaguililla commented on #259
This can be implemented as a filter outside the toolkit.

[2022-10-23 18:11] #259 closed

[2022-10-24 13:13] #35 closed

[2022-10-27 05:20] #404 closed

[2022-10-29 12:39] theAkito commented on #544
@CaptainDaVinci Are you still working on this?

[2022-10-29 13:11] CaptainDaVinci commented on #544
@theAkito yes, I've started work on this but haven't been able to complete it. I'm looking to create a PR by this weekend.

[2022-11-02 10:03] jaguililla opened #560 "Complete SSE implementation"
Partially implemented.

Check https://www.baeldung.com/jetty-reactivestreams-http-client for client side implementation.

Check the `feature/sse` branch.

---

Detailed description.

Reason for the change or new development.

Acceptance criteria to verify the development. A list of requirements with the following format:

`When *action* then *result*`

For example:

`When this is done then that ot